[2015-08-08 03:55] adriens opened #1 "14.01.02 > SchemaInfoLevel.standard() not compatible"
Hi Sualeh,

While migrating lint code from 12.06.02 to 14.01.02... and also from JDK-1.7 to JDK-1.8

i get a compilation issue on the following code :

`options.setSchemaInfoLevel(SchemaInfoLevel.standard());`

What should i put instead of this please ?

Do you have a default setRetrieve equivalent to the old `standard()` one ?

Thank you in advance for your help.

[2015-08-08 04:25] adriens commented on #1
Could you add your code sample to the archetype ?

[2015-08-08 07:04] adriens commented on #1
Forget about it, i've found that, and it seems to do the job :+1:
`SchemaInfoLevelBuilder.standard()`

[2015-08-08 07:13] adriens commented on #1
Yep, the fix does the job
https://travis-ci.org/adriens/schemacrawler-additionnallints/builds/74674974
I close the issue.

[2015-08-08 07:13] #1 closed

[2015-08-09 00:26] adriens opened #2 "Add jxr to maven site report"
Add jxr (https://maven.apache.org/jxr/maven-jxr-plugin/examples/linkjavadoc.html) to maven site so people can easily browse javadoc up to real java code.

[2015-08-10 13:38] sualeh commented on #2
Adrien, I had used JXR in the past, but I think it has limited value. Most modern IDEs such as Eclipse allow you to link the source jar file to your binary jar file. They also show you javadocs, and code. This is more interactive while developing, rather than referring to a webpage.

[2015-08-10 13:38] #2 closed

[2015-08-19 18:38] dewind opened #5 "[Question] Is it possible to exclude drawing one relationship?"
I am generating a database diagram and there is one table that is referenced by almost every other table (Created and edited by ids) and pollutes the diagram to such a degree that I'd rather exclude it and just manually notate it.

The only thing I was able to do in order to work around it was exclude the column, which isn't ideal.

[2015-08-19 18:41] sualeh commented on #5
Are you using the commandline? Try something like
[code]

[2015-08-19 18:42] dewind commented on #5
Yes, I am using the command line.

That will keep the tables in-tact but exclude the relationship to the other tables?

[2015-08-19 18:48] sualeh commented on #5
That will exclude your table completely from the diagram. Try it out, and let me know if it works for you.

[2015-08-29 22:51] adriens opened #6 "14.02.02 new lint () in error"
If you create the following pgsql table :

[code]

The new lint will say :

[code]

... but the first PK column cannot be null... and still it is detected by this new lint. Does it really have the correct behavior ?

I've just discovered that as it was creating a regression in iur additional-lints :smile:

[2015-08-30 02:53] sualeh commented on #6
Acutally, this is not a bug, but a message that could be worded better. Tables that have all columns besides the primary key that are nullable, may contain no useful data, and could indicate a schema design smell. I will change the message to say: "table with all data columns nullable"

[2015-08-30 03:03] #6 closed

[2015-08-30 03:31] adriens commented on #6
ok, explained like that it's much clearer. Thanks for your explanations.

[2015-09-14 18:55] n3integration opened #7 "Support for optionally retrieving reserved words"
We ran into a case where the database generated an exception when attempting to fetch the reserved words. It ended up being an issue related to database permissions. It would be great if this could be an optional feature, possibly exposed through the `DatabaseSpecificOverrideOptions` class.

[2015-09-15 00:47] #5 closed

[2015-09-15 00:47] sualeh commented on #5
No reply, so closing issue.

[2015-09-15 00:48] #7 closed

[2015-09-15 17:51] n3integration opened #9 "Support for falling back to ResultSetMetaData"
We have seen cases where the underlying database will fail to fetch the database schema information (i.e. `schemacrawler.schema.Table.getColumns()`). In the case of failures, it would be nice to fall back to the `ResultSetMetaData`  using a simple query. For example, something along the lines of `SELECT * FROM 'table' WHERE 1 = 0` would suffice.

[2015-09-16 11:38] patric-r opened #10 "Slow performance while retrieving foreign keys"
Hi,

SchemaCrawler seems to have a performance issue when retrieving foreign keys.

On our databases (oracle 11g), schemacrawler needs more than **two hours to dump all tables** on a very small database (650 MB in total; however many database objects exist):

[code]

The following stacktrace shows where the most time is spent:

[code]

The cause seems to be the "select all foreign keys"-query, whi

[2015-09-16 12:11] sualeh commented on #10
Interesting, since SchemaCrawler makes a JDBC call to retrieve foreign keys only for a given table at a time, not for all tables all the time. Would you be able to send me (sualeh@hotmail.com) a detailed log, using an additional command-line argument, `-loglevel=all`, so that I can see the Oracle trace? Thanks.

[2015-09-16 12:28] patric-r commented on #10
I think you probably got me wrong:
Yes, indeed schemacrawler seems to retrieve foreign keys only for a given table at a time. It does not fetch all foreign keys for each TableRetriever.retrieveForeignKeys() call.

But it's still an issue because TableRetriever.retrieveForeignKeys() takes 5 seconds to return in my case and because it's called 1500 times, foreign key retrieval takes 2 hours in total

[2015-09-16 12:54] sualeh commented on #10
Thanks, I will take a look. Just confirming: you do need all 1,500 tables in the output, right?

[2015-09-16 13:26] patric-r commented on #10
Yes, that's right.
The issue does also concern me if I access schemacrawler programmatically. Even if I only fetch ~100 tables, schemacrawler would need ~10 minutes to return.

Thanks for having a look.

[2015-09-16 13:34] patric-r commented on #10
One additional remark: Most of the 1500 tables are empty in my case. The actual data dump finishes almost instantly. Only the foreign key definitions causes schemacrawler to slow down in magnitudes.

I'm using schemacrawler since version 6.4 and this has been an issue till the/my beginning, however seemed to get worse within the last major releases.

Nevertheless I'm very thankful for your tool. I

[2015-09-16 17:51] sualeh commented on #10
I will certainly take a look at it. I think in some earlier releases, I was doing exactly that - retrieving all foreign keys all at once. However, I plan to make fixes, if any, only on the latest version of SchemaCrawler.

[2015-09-17 17:51] n3integration commented on #9
Here is a sample stack trace:

[code]

[2015-09-17 20:33] sualeh commented on #9
More information:
https://forums.teradata.com/forum/database/unable-to-access-application-tables

[2015-09-18 03:03] sualeh commented on #7
Please use SchemaCrawler 14.03.02

[2015-09-20 04:55] sualeh commented on #10
Patric, please try SchemaCrawler 14.03.03, and see if it is any faster for you. Please let me know. Thanks.

[2015-09-20 16:29] jeffjensen opened #11 "How to generate diagram with schemacrawler-maven-plugin?"
I am struggling to find the correct configuration between pom and property files to generate a diagram.
Is it possible to do so or is the Maven plugin not able to generate the diagram?

I'm using these versions:
[code]
[code]

[2015-09-21 16:16] sualeh commented on #11
Jeff, unfortunately I am not maintaining the SchemaCrawler Maven Plugin too much, and it is a separate project from this one. Please check if you can execute SchemaCrawler as a Java process from your Maven project. If you can, then I would love it if you can share what you find. Otherwise, I can certainly use your help on the  SchemaCrawler Maven Plugin, if you are so inclined.

[2015-09-22 19:04] jeffjensen commented on #11
Currently, it looks like the plugin correctly runs SchemaCrawler, but the resulting PNG is in the generated page as file contents vs an image (looks like gibberish characters).

I hope to have some time soon to try what you suggest.  Improving the plugin is ideal, but using exec may work well enough.

[2015-09-22 22:45] sualeh commented on #11
Try using the htmlx output format. I will take a look at the plugin code when I get a chance.

[2015-09-23 03:32] jeffjensen commented on #11
Thanks for the tip.  Your suggestion goes directly to my original question: I don't know where to specify the output format for the plugin.
  * The plugin does not have an attribute in <configuration>.
  * The plugin does not appear to see the schemacrawler.config.properties file.

[2015-09-29 01:50] sualeh commented on #10
Patric, is SchemaCrawler 14.03.03 working for you?

[2015-09-29 11:39] patric-r commented on #10
@sualeh  I'm sorry for the delay.

Using 14.03.03, things greatly improved:
The time required for dumping all data of the above mentioned tiny schema reduced from more than 2 hours to ~5 minutes.

Foreign keys retrieval are no longer a performance penalty.
Thank you so much for your effort!

[2015-09-29 13:26] sualeh commented on #10
Awesome! You can probably get some benefits by tuning the database too, such as updating metadata statistics.

[2015-09-29 13:26] #10 closed

[2015-09-29 13:28] sualeh commented on #11
This issue was moved to sualeh/SchemaCrawler-Report-Maven-Plugin#1

[2015-09-29 13:28] #11 closed

[2015-10-06 09:55] patric-r commented on #10
@sualeh While at the database on which I first saw this issue, schemacrawler still performs perfectly,
I now have a similar issue on another database, which is more or less a clone of the original database.
In this database, schemacrawler 14.03.03 still seems to suffer from a performance issue with foreign key retrieval, as the following stacktrace shows in which the tool seems to be stuck :
[code

[2015-10-06 13:55] sualeh commented on #10
Patric, this stacktrace is not from SchemaCrawler 14.03.03. Are you sure that you are using SchemaCrawler 14.03.03? You can find out by turning logging on - use -loglevel=INFO as an additional command-line argument.

[2015-10-06 13:57] sualeh commented on #10
Patric, please make sure that you have the SchemaCrawler jar for Oracle support on your classpath. You can see the classpath that SchemaCrawler uses by turning on logging - use -loglevel=INFO as an additional command-line switch.

[2015-10-08 20:59] luizsoliveira opened #12 "Is possible to connect with Teiid JDV?"
Dear,

I do not know if this is the ideal channel to ask that question, but I thank you for understanding.

I have used the schema crawler to discover Postgres and MySQL databases structures.

I am interested in doing the same job with the Teiid (http://teiid.jboss.org/) through the specific connector JDBC.

I wonder if anyone has ever done that? And what steps should be taken?

On the next page (

[2015-10-08 21:25] sualeh commented on #12
SchemaCrawler can connect to any database system that provides a JDBC driver. I have not specifically tested with Teiid, but theoretically, it should work out of the box. There is no code generation needed, and no additional code that you need to write. You will have to make sure that you use the `-url` command-line argument, and not the `-server`, `-host`, and `-port` arguments.

[2015-10-08 23:53] luizsoliveira commented on #12
Thanks for the quick response.

Yes , I get it , I will use the url parameter instead of others, but how
can I do for crawler schema using the JDBC driver Teiid ?

Tranks

Good rest
Em 08/10/2015 18:25, "Sualeh Fatehi" <notifications@github.com> escreveu:

[2015-10-09 00:11] sualeh commented on #12
Here is how you get the URL: https://goo.gl/GUKISv

On Thu, Oct 8, 2015 at 7:53 PM, Luiz <notifications@github.com> wrote:

[2015-10-12 02:05] #12 closed

[2015-10-13 20:37] luizsoliveira commented on #12
Thank you!

The connection worked with the following parameters:

-Djavax.net.ssl.trustStore=PATH-TO-TRUSTSTORE-PRO.jks \
-cp $(echo lib/*.jar | tr ' ' ':') schemacrawler.Main \
-command=schema \
-url=jdbc:teiid:DATABASE_NAME@mms://HOST:31000 \
-u=USER \
-password=PASSWORD \
-infolevel=detailed \
-outputformat=json \
-loglevel=CONFIG \
-outputfile=PATH/schema.json

The following file is included i

[2015-10-13 20:42] luizsoliveira commented on #12
But still can not generate the full schema because the process is paralyzed in the step of obtaining weak associations.

Changing the infolevel to minimum, standard or detailed did not return information about the columns of the tables. For instance:

{
      "foreignKeys": [],
      "indexes": [],
      "columns": [],
      "name": "XX_XX_XX_XXXXXX_XXXXXX",
      "fullName": "XX_XX_XX_XXXXXX_XXXX

[2015-10-13 21:06] sualeh commented on #12
Please use `-infolevel=standard` for now, and turn on logging with `-loglevel=CONFIG`. Then, send me the log file at sualeh@hotmail.com

[2015-10-16 17:12] sualeh commented on #9
This is a database configuration, and can be fixed by giving the database user the appropriate permissions. For details, please see [Unable to access application tables](https://forums.teradata.com/forum/database/unable-to-access-application-tables).

[2015-10-16 17:12] #9 closed

[2015-10-20 03:32] adriens opened #13 "Derby jdbc driver disappeared from the distribution ?"
It seems like Derby jdbc driver has been removed from schemacrawler distribution.

[2015-10-20 03:45] adriens commented on #13
I also see that there is no schemacrawler-derby 14.04.03 in public repos. It really seems like the derby support is off now.

[2015-10-20 04:07] adriens commented on #13
should i still leave the driver in the debian package ?

[2015-10-20 04:07] adriens commented on #13
these questions are for the debian package of the ```14.04.03``` ;-p

[2015-10-20 04:13] adriens commented on #13
i'm waiting for your feedback to upload this latest package to bintray.

[2015-10-20 13:32] sualeh commented on #13
You can leave the driver in. SchemaCrawler still supports Apache Derby, but without extended functionality.

[2015-10-20 13:32] #13 closed

[2015-10-20 20:27] adriens commented on #13
That's what i was guessing. I leave the driver so people can use the jdbc url path ;-p

[2015-10-20 22:08] adriens commented on #13
New debian package released.

[2015-10-20 23:49] sualeh commented on #13
Thanks, Adrien

[2015-10-23 21:11] n3integration commented on #9
I understand that this can be resolved through configuration. However, whether or not applicable permission is granted to the system tables cannot be guaranteed. We are currently working around the issue by falling back to the `ResultSetMetaData` and are happy to contribute back to SchemaCrawler for the benefit of the community. If you would prefer a PR rather than closing out the issue, let me kn

[2015-11-04 02:56] buhtz opened #14 "Unsupported major.minor version 52.0"
I just downloaded the last package and tried to start that under Lubuntu 14.04.3 LTS.

This is the result.

$ ./schemacrawler.sh
Exception in thread "main" java.lang.UnsupportedClassVersionError: schemacrawler/Main : Unsupported major.minor version 52.0
        at java.lang.ClassLoader.defineClass1(Native Method)
        at java.lang.ClassLoader.defineClass(ClassLoader.java:800)
        at java.se

[2015-11-04 03:29] sualeh commented on #14
Please make sure you are using Java 8. Run:

`java -version`

[2015-11-04 05:01] buhtz commented on #14
I think you mean Java from Oracle/Sun? I am using OpenJDK.

java version "1.7.0_85"
OpenJDK Runtime Environment (IcedTea 2.6.1) (7u85-2.6.1-5ubuntu0.14.04.1)
OpenJDK Server VM (build 24.85-b03, mixed mode)

This should work. Did you build the version check or is it a automatism.?

[2015-11-04 15:33] sualeh commented on #14
You have the wrong version of Java. Please use Java 8. Oracle Java is preferred, but any Java 8 would work.

[2015-11-04 15:33] #14 closed

[2015-11-04 18:25] buhtz commented on #14
This is not supportet in Ubuntu 14.04.3 LTS.

[2015-11-04 20:11] sualeh commented on #14
Please take a look at [INSTALL ORACLE JAVA 8 IN UBUNTU OR LINUX MINT VIA PPA REPOSITORY JDK8](http://www.webupd8.org/2012/09/install-oracle-java-8-in-ubuntu-via-ppa.html)

[2015-11-05 08:43] buhtz commented on #14
Oracle/Sun Java isn't a choice because of security.

[2015-11-07 13:38] sardineuser opened #15 "trigger information retreive in PostGres Java API"
Hello,
there is an issue retreiving trigger information on PostGres 9.4 in using the API :
In fact the column name must be ACTION_TIMING in the select query instead of CONDITION_TIMING. Driver verion is the last available PostGres Java driver. Doesn't work too with the included driver in schemacrawler packages.

Here is the stack error :

PM sf.util.DatabaseUtility executeSql
AVERTISSEMENT: Error

[2015-11-07 16:07] sualeh commented on #15
I'll take a look.

[2015-11-07 16:45] sardineuser opened #16 "Retreiving Sequences on PostGres 9.4 doesn't seems to work"
Hello,
retreiving sequences included in schemas return empty list with Java API on PostGres.
infoLevel is set to maximum.

 for (final Sequence sequence : catalog.getSequences(schema)) {
...}

[2015-11-07 17:43] sualeh commented on #16
Please set a sequence inclusion rule, using
`schemacrawler.schemacrawler.SchemaCrawlerOptions.setSequenceInclusionRule(InclusionRule)`

[2015-11-07 19:27] sardineuser commented on #16
Great ! it's ok. Thanks a lot Sualeh.

[2015-11-07 20:52] #16 closed

[2015-11-08 19:49] sualeh commented on #15
I have fixed this issue. It will be available in the next SchemaCrawler release.

[2015-11-08 19:49] #15 closed

[2015-11-09 17:28] sardineuser commented on #15
Thanks a lot !

[2015-11-11 01:16] sualeh commented on #15
Please use SchemaCrawler 14.04.04.

[2015-11-27 00:34] oskar-j opened #17 "SchemaCrawler not showing tables on Amazon RDS, only views."
Hi,

I have a problem with using your tool with an instance of MySQL 5.6 running on Amazon RDS. It only shows views from some other database, while there are also tables on the `django` database in which I'm primarily interested.

This is how I lunch the SchemaCrawler on windows:

[code]

It results with:

(sorry for lack of formatting, it's lunched from a windows command prompt)

[code]

It shows

[2015-11-27 07:21] sualeh commented on #17
- Please delete the MariaDB driver that is included with SchemaCrawler. It is connecting to your database instead of the MySQL driver.
- Please use the `-schemas` option to limit the tables and routines that you see in the SchemaCrawler report.

Let me know if this fixes the problem.

[2015-11-28 17:09] oskar-j commented on #17
@sualeh It helped. I followed your instructions and everything now works fine. Thanks!

[2015-11-28 17:23] sualeh commented on #17
Thanks for letting me know. I will fix the issue with the MariaDB driver in the next release.

[2015-11-28 17:23] #17 closed

[2015-12-10 08:23] l8nite opened #18 "SQL Server using -schemas is not finding any tables?"
I have a sql server instance with a schema named 'foo'.

The user I'm using to connect has a default schema set to 'foo' and has grants set up which restricts its access to the foo schema only.

I'm trying to generate a graphviz diagram of all the tables contained in that schema:

[code]

This ends up empty... am I doing something obviously wrong here?

[2015-12-10 08:33] l8nite commented on #18
Nevermind, this was user error - I was running against the wrong database :ghost:

[2015-12-10 08:33] #18 closed

[2015-12-14 09:41] koxa29 opened #19 "Schema crawling"
Hello, Sualeh

As I understood first schema crawler searches catalog by regexps and then schema should be retrieved by calling Catalog.lookupSchema. I use includeFilter "^`?" + table_name + "`?$" since table_name could be with or without apostrophe. For example, if I try to crawl DB with name "new", I retrieve catalog "`new`", but lookupSchema returns empty optional. Is it possible to use lookupSc

[2015-12-14 14:37] sualeh commented on #19
Denys, I will add in a feature to look up database objects by a regular expression.

[2015-12-15 08:09] koxa29 commented on #19
Thank you very much)

[2015-12-15 19:34] sualeh commented on #19
I will close this issue when I release the enhancement.

[2015-12-25 11:10] koxa29 opened #20 "SqlServer connection pattert"
Hello, Sualeh

I try to inspect MySQL database using connection like "jdbc:sqlserver:". However, SchemaCrawler resolves SqlServerDatabaseConnector if connection starts with "jdbc:jtds:sqlserver:". Is it possible to change connectionUrlPattern from "jdbc:jtds:sqlserver:.*" to "jdbc:(jtds:)?sqlserver:.*" ?.

Thank you

[2015-12-26 17:07] sualeh commented on #20
Please let me know exactly which database and which JDBC driver you wish to use. There seems to be some inconsistency here. By default, SchemaCrawler supports the open source jTDS driver for Microsoft SQL Server.

[2016-01-06 13:20] koxa29 commented on #20
Hello, Sualeh

We tried jTDS and it works fine. Thank you for your reply. Issue is not valid.

[2016-01-06 13:20] #20 closed

[2016-01-24 21:37] sualeh commented on #19
I have put something in place for you to do this - please take a look at
https://goo.gl/vGQa0J and let me know.

On Mon, Dec 14, 2015 at 4:41 AM, Denys Konakhevych <notifications@github.com

[2016-01-25 01:55] adriens opened #22 "Add code climate integration"
see https://codeclimate.com/dashboard

... and add shields to README.md

[2016-01-28 21:56] adriens opened #23 "Postgres only > Remove the function retrieval from jdbc calls"
...as postgres does not implement it, ... and hence jdbc driver will not This could avoid a huge log file complaining about thinks like :

[code]

[2016-01-29 05:05] sualeh commented on #23
Resolved with https://github.com/sualeh/SchemaCrawler/commit/138019963deec47633be51970615fa9d37b8e66f

[2016-01-29 05:05] #23 closed

[2016-01-31 02:13] #22 closed

[2016-02-04 02:54] sualeh commented on #19
Added a utility to filter database objects in 14.05.05.

[2016-02-04 02:54] #19 closed

[2016-02-04 03:47] adriens commented on #23
Yes, that's gr8 ! I saw it in the release note ! Thank U very much !

[2016-02-05 02:37] adriens opened #24 "Release binaries straight to gh from travis"
Hi Sualeh,

i've just tested this : https://docs.travis-ci.com/user/deployment/releases
on the debian installer of schemacrawler. It is just great !
You push a tag, and from travis, you upload any produced file to the github release. I'm pretty sure that if you take a look at it you will :heart: it !
Have a nice week end.

Personally, i will remove bintray uploads and let travis and github do the

[2016-02-05 02:59] adriens opened #25 "Remove the bintray shield to debian"
... and point to the latest release url : https://github.com/adriens/schemacrawler-deb/releases/latest

as .deb are now built by travis... and stored on GH (see https://github.com/adriens/schemacrawler-deb/issues/2 and #24

[2016-02-05 03:57] #25 closed

[2016-02-06 23:56] adriens opened #26 "Add https://www.versioneye.com badge"
.... to monitor dependencies level at no cost

[2016-02-06 23:58] adriens commented on #26
you can get a quick look at outdated deps at : https://www.versioneye.com/user/projects/56b687660a0ff5002c860389

as i have activated it in the debian packager

[2016-02-08 23:06] adriens opened #27 "Run graph from command line without arguments (-g=<config-file>)"
### Goal

Be able to generate a graph (or lint) from a single and short schemacrawler command line : ideally, just running :

`schemacrawler`

would use the conf file to generate a graph or lint

### Description

Following the command line doc :

schemacrawler -g=schemacrawler.config.properties

or

schemacrawler -g

should do the trick with schemacrawler.config.properties containing :

[code]

Un

[2016-02-08 23:47] adriens commented on #27
if i put the jdbc url iw working properly, with the single following command as described in the doc :

`schemacrawler -g`

hence, ths only issue is that  server, host, port, database are not taken in account from the property file.

[2016-02-08 23:58] sualeh commented on #27
Try putting `-server=postgresql` on the command-line

[2016-02-09 00:38] adriens commented on #27
When `server` property added on the command line it works properly.

[2016-02-09 00:40] #27 closed

[2016-02-09 00:41] sualeh commented on #27
The `-server` property is needed on the command-line, since it attaches an internal config file to the specified config file.

[2016-02-09 00:47] adriens commented on #27
arghhhh ;-(
Ok, got it.
Thanks.

[2016-02-09 00:47] sualeh commented on #26
VersionEye does not support Maven modules. I have been talking to the developers since over a year, and they have not fixed it yet.

[2016-02-09 00:47] #26 closed

[2016-02-09 01:54] adriens commented on #26
Hmmm, very bad point for them... this is very disappointing ;-(

[2016-02-09 03:24] adriens opened #28 "Drivers versions not corresponding to the expected ones"
The drivers versions are not the expected ones in the zip file :

[code]

as you can see the drivers versions are not the expected ones, do they ?

[2016-02-09 03:37] adriens commented on #28
Still, in the poms, the versions are the good ones. I'll use them in my debian release.

[2016-02-09 04:13] adriens opened #29 "Dependencies update"
- xpp3_min : shall we switch to 1.1.3.4.O ... ?...or will we always stay on this version ?
- xstream : **our version seems pretty out of date**, see https://www.versioneye.com/java/com.thoughtworks.xstream:xstream/1.4.7 : shall we upgrade to 1.4.8  ?
- sqlite-jdbc : does the 3.8.11.2  fix the bug sc does encounter ?

I'm asking this so i can flag some of them as non upgradable in the dependencies,

[2016-02-09 04:28] adriens commented on #26
@sualeh : take a look at this : https://bitbucket.org/versioneye/versioneye/issues/92/maven-multimodules-handling

maybe these are good news !!!

[2016-02-09 04:29] adriens commented on #26
... travis should be able to do it hence ! :+1:

[2016-02-09 22:24] sualeh commented on #29
sqlite-jdbc is a non-upgradeable dependency. They have not fixed the issue.

[2016-02-09 22:42] adriens commented on #29
ok, so i mark it as non upgradable.
Thx. Btw, what is the exact bug on this driver ?

[2016-02-09 22:44] adriens commented on #29
i have muted the versioneye on that.

What about xpp3_min and xstream please ?

[2016-02-10 00:23] sualeh commented on #29
SchemaCrawler already uses XStream 1.4.8

[2016-02-10 00:24] adriens commented on #29
not in the zip file you release, see https://github.com/sualeh/SchemaCrawler/issues/28

[2016-02-10 00:28] adriens commented on #29
so, it will only remain `xpp3_min` to  `1.1.3.4.O`  ?

[2016-02-10 00:32] sualeh commented on #29
No, trying to track it down - XStream uses xpp3_min 1.4c.

[2016-02-10 01:39] sualeh commented on #29
Committed. Will be fixed in the next version.

[2016-02-10 01:39] #29 closed

[2016-02-10 01:39] sualeh commented on #28
Committed. Will be fixed in the next version.

[2016-02-10 01:39] #28 closed

[2016-02-10 02:00] adriens commented on #28
Great, thanks ;-p

[2016-02-11 00:24] adriens opened #30 "Question > Schemacrawler Lint and continuous integration"
### Context

We are using continuous quality check and integration on an always increasing number of projects, but this essentially applies to code (Java code). This is done by Travis.

In my everyday job, i have to pass lints on our integrations databases that are generated by [liquibase](http://www.liquibase.org/). Hence we make database reviews on the html exported version of the lints.

### Th

[2016-02-11 01:05] sualeh commented on #30
Let me think about this.

[2016-02-11 02:12] adriens commented on #30
:+1:

[2016-02-11 23:00] adriens opened #31 "Divers upgrade to be done in version >= 14.06.03"
- mariadb : 1.3.4 -> 1.3.5
- psql : 9.4.12.07.jre7 -> 9.4.1207

[2016-02-12 11:54] javc1974 opened #32 "Error generating diagram from Oracle Schema in pdf format"
Congratulations for your job!!!

Feb 12, 2016 10:46:41 AM sf.util.DatabaseUtility executeSql
WARNING: Error executing SQL, SELECT /*+ PARALLEL(AUTO) */
  NULL AS TABLE_CATALOG,
  TABLES.OWNER AS TABLE_SCHEMA,
  TABLES.TABLE_NAME,
  DBMS_METADATA.GET_DDL('TABLE', TABLES.TABLE_NAME, TABLES.OWNER)
    AS TABLE_DEFINITION
FROM
  ALL_TABLES TABLES
  INNER JOIN ALL_USERS USERS
    ON TABLES.OWNER = USER

[2016-02-13 03:54] sualeh commented on #32
I cannot reproduce the problem. What version of Oracle are you using? What version of the Oracle JDBC driver are you using?

[2016-02-14 20:45] #31 closed

[2016-02-14 21:34] adriens commented on #31
:+1:

[2016-02-16 00:37] javc1974 commented on #32
I am using Oracle RDBMS 11.2.0.3 and Oracle JDBC Driver 11.2.0.4
Thanks

Date: Fri, 12 Feb 2016 19:54:32 -0800
From: notifications@github.com
To: SchemaCrawler@noreply.github.com
CC: chuberep@hotmail.com
Subject: Re: [SchemaCrawler] Error generating diagram from Oracle Schema in pdf format (#32)

I cannot reproduce the problem. What version of Oracle are you using? What version of the Oracle JDBC

[2016-02-16 01:01] adriens commented on #32
Can you provide the command line ?

[2016-02-16 02:25] sualeh commented on #32
Also, please try using the latest version of the Oracle JDBC driver, 12.1.0.2. There are bugs in the earlier versions of the driver.

[2016-02-18 20:26] adriens commented on #30
Hi @sualeh did you think about it these last days ? At least on an approach ?.. si we could talk about it together ?.. and maybe even create a small POC ?

[2016-02-19 00:33] adriens commented on #32
Any news @javc1974 ? Did you make it work ?

[2016-02-22 01:49] hongjn opened #33 "How to hide SchemaCrawlerHeaderInfo in the output"
How to hide SchemaCrawlerHeaderInfo in the output ?

[2016-02-22 03:29] adriens commented on #30
@sualeh : in which release shall i find the aditional main method to call lints please ?

[2016-02-22 13:59] sualeh commented on #33
Are you using the command-line or the API?

[2016-02-22 13:59] sualeh commented on #32
@javc1974 - I will close this issue if I do not hear back from you.

[2016-02-23 01:42] hongjn commented on #33
command-line, my output format is JSON.

[2016-02-23 02:24] sualeh commented on #33
Use `-noinfo`

[2016-02-23 02:24] #33 closed

[2016-02-23 02:57] hongjn commented on #33
Very thanks.

[2016-02-25 01:54] sualeh commented on #32
No response.

[2016-02-25 01:54] #32 closed

[2016-02-26 02:32] mbarre opened #34 "The default linter severity should be used when severity is not defined in linter config file"
Hi Sualeh,

When we use xml config file without specifying the linter severity, MEDIUM severity is used instead of the default linter severity.

Ex:
[code]
Here default is high.

If I use it in config file without specify the severity

[code]

It will be report as lint with MEDIUM severity instead of HIGH.

It would be nice if the default linter severity were used when not defined in config file.

[2016-02-26 02:43] adriens opened #35 "Custome lint outputFileFormat"
## Description

We are using more and more lints on https://github.com/mbarre/schemacrawler-additionnallints  and we are begining to have some new needs around lint reporting.

## Concept

On the same philosophy than schemacrawler plugins, we'd like to extend custome lint reports and make for example custom html reports. There already is one, but we' d like to be able to create custom ones, for ex

[2016-02-26 02:53] adriens commented on #35
we could imagine database quality scores, schema coverage, ... and some nice metrics !

[2016-02-26 03:07] sualeh commented on #35
Adrien, one way you could do this now is to use LintedCatalog. An example of how to create a LintedCatalog is in [LintExecutable](https://github.com/sualeh/SchemaCrawler/blob/master/schemacrawler-lint/src/main/java/schemacrawler/tools/lint/executable/LintExecutable.java#L71-L74). You can then use Velocity, FreeMarker or some other templating tool to create a custom lint report.

[2016-02-26 03:19] adriens commented on #35
Thanks @sualeh for fast answer :  i'm having a look at that now.

[2016-02-27 19:25] sualeh commented on #30
You will be able to do this in the next release. Will that work?

[code]

[2016-02-27 19:50] #34 closed

[2016-02-27 20:31] #30 closed

[2016-02-27 20:47] sualeh commented on #24
The SchemaCrawler release process is a little more complex.

[2016-02-27 20:47] #24 closed

[2016-02-28 08:37] adriens commented on #24
don't you generate the zip file on any directory ? How could i help ?

[2016-02-29 05:12] mbarre opened #36 "GRAVE: Abnormal system termination, since a critical schema lint was found message even if dispatch is not configured"
I have the follwing message in logs **GRAVE: Abnormal system termination, since a critical schema lint was found** even if I don't configure dispatch.

If I call schemacrawler with Exec Maven Plugin, build finish successfully but I have
[code]

[2016-02-29 05:15] mbarre commented on #34
Thanks Sualeh !
:+1:

[2016-02-29 13:58] sualeh commented on #36
I will get rid of that message.

On Mon, Feb 29, 2016 at 12:12 AM, Michèle <notifications@github.com> wrote:

[2016-02-29 17:22] sualeh commented on #36
Please ignore the message for now.

[2016-02-29 17:28] #36 closed

[2016-03-03 00:24] mbarre opened #37 "[Config file] <table-exclusion-pattern> value is lost when java method configure is overridden"
I tried to exclude some tables from the lints.

I realized that my linter java classes that override the method **configure** ignore the `<table-exclusion-pattern>` value in the config file.

[code]

[code]

If I comment the method **configure** the `<table-exclusion-pattern>` is taken account.

[2016-03-03 00:29] sualeh commented on #37
You need to call `super.configure(linterConfig);` first.

[2016-03-03 00:29] #37 closed

[2016-03-03 00:32] sualeh commented on #24
Done. See release 14.07.02. Thanks for pushing me!

On Sun, Feb 28, 2016 at 3:37 AM, SALES <notifications@github.com> wrote:

[2016-03-03 00:38] mbarre commented on #37
It works better like that ;)
:+1:

Thanks.

[2016-03-03 00:53] sualeh commented on #37
:-)

[2016-03-03 02:32] adriens commented on #24
You did it !!!
:+1: :+1: :+1: :+1: :+1:

You will se that you will release for often and earlier now... i did notice that on my projects.

[2016-03-07 02:26] adriens opened #38 "Schemacrawler not up-to-date"
## Description

On the website (http://sualeh.github.io/SchemaCrawler/), the latest version is the :
[code]

while the latest version in the repos is the ```14.07.02```

## Action

Update website with the right build

[2016-03-08 00:54] sualeh commented on #35
[Adrien](@adriens), any updates?

[2016-03-08 00:58] adriens commented on #35
For now, we are focusing on continuous database build and linting.
Custom lint reports will be the next thing, after some new lint implementation.
At the end of the day, we should get the first automated travis-ci lint.

In the next months i'll show a prezz about database, and we'll detail the whole stuff, ... we'll talk about schemacrawler and linting ;-p

[2016-03-08 01:01] #38 closed

[2016-03-08 22:28] adriens commented on #38
:+1:

[2016-03-09 03:23] mbarre opened #39 "[Continuous build] Log improvment : adding lint summary on build failure"
Hello Sualeh,

First of all, thanks for the "dispatch" feature you've add last week, continuous DB quality check is now running on our projects on github/travis, it's really cool.

Here's the proof : ;)

![selection_046](https://cloud.githubusercontent.com/assets/1823161/13621066/adcdb9a6-e5e8-11e5-8fb4-1c790ded027a.png)

Detailed logs below :

![selection_047](https://cloud.githubusercontent.com/

[2016-03-09 03:30] adriens commented on #39
Nice ticket... we told you we we would do it ;-D
Now having so many ideas around lint reporting ... i'm dreaming of something like coveralls.io for databases, based on schemacrawler lints ! That would be awesome.

[2016-03-09 03:46] sualeh commented on #39
I love the way you guys are using SchemaCrawler! Basically, you want a lightweight text report to be printed along with the dispatch. I could do that, but I would have to print all of the lints, no matter how critical they were. Will this be ok?

[2016-03-09 03:56] adriens commented on #39
Eh eh eh, was pretty sure you would love it !... schemacrawler is a great tool with a huge potential and it's very exciting to show it !
 Let us think about how synthetic le log outpout should be : if its' too verbose/big, Travis will flag the build as failed. Hence it has to be pretty synthetic, indeed for now we should define how it could be aggregated.

[2016-03-09 03:58] adriens commented on #39
We've also though about uploading a maven site (the html lint output) to a gh-pages of the project, making it possible to read it afterwards... this is an another approach. Still, getting some infos on the build is very useful when on Trvais

[2016-03-09 04:10] sualeh commented on #39
Output will be verbose, and will look something like the following. I can print the output **before** the failure, so Travis will not flag the build as failed.
[code]

[2016-03-09 04:23] adriens commented on #39
We're talking about it with @mbarre now, she'll update the ticket n the next minutes.
For now, what is sure it's that whenever the build is successful or not, the sythesis like the one you propose is required, ... **and a simple count could very well do the trick !** : it gives a idea on the database quality, it'a bit like a dashboard, which is great/ If people want more details, they have to read

[2016-03-09 04:35] mbarre commented on #39
Here an example of what we could display :

[code]

[2016-03-09 04:45] mbarre commented on #39
May be we could add a new attribute (similar to description and summary) to the BaseLinter java class that will be displayed with the count in the build summary

[2016-03-10 03:28] #39 closed

[2016-03-10 03:39] adriens commented on #39
@sualeh : you mean that you did it ?!!

[2016-03-10 03:42] sualeh commented on #39
I think so - please look at the changes - but I want to clean up some more stuff before I release.

[2016-03-10 03:49] mbarre commented on #39
:+1:

[2016-03-10 03:53] adriens commented on #39
feeling excited !!!

[2016-03-13 21:49] sualeh commented on #35
Any updates?

[2016-03-14 02:05] adriens commented on #35
@sualeh : it's in fact the POC of the week.
For this week (we dedicate time weekly to open source dev), the goal for michele is to write a dummy template that lists lints in an html file.
So, you have some infos/docs about how to access lints from template, this would be very cool.

This will be the first phase. After that, we'll work on the report design, charts, scores, dashboard, maybe, in the

[2016-03-14 05:55] mbarre opened #41 "[Continuous build] Summary improvment"
Hi Sualeh

It tested the 14.07.03 today, it works nice and the result pretty cool.

So we have some new ideas regarding the summary, here is the result we have now:

[code]
Could It be possible to have this :

[code]

1. Ascendant sort on severity, in order to have the higher severity at the end of the summary and near BUILD FAILURE status
2. Add a separator at the begining of the summary
3. Displ

[2016-03-14 14:17] sualeh commented on #41
Thanks for the feedback, Michele. I will take a look, and make some changes. I may not make all of the changes, though - we can discuss.

[2016-03-14 14:18] sualeh commented on #41
The following line is printed by Maven, not SchemaCrawler.
[code]

[2016-03-15 00:53] adriens commented on #41
sure ;-p

[2016-03-15 02:37] sualeh commented on #35
Great! Please look at the new Linters class, and LintCollector. Between these you, you have all the information needed to produce a report. I would suggest a brand-new project for formatting these lints, since I would like to build up the SchemaCrawler ecosystem. I will link to your new project from the main SchemaCrawler website.

[2016-03-15 02:43] adriens commented on #35
oki @sualeh , that seems to match our approach, so we are going on the same direction. That's perfect.
To be totally honest, sometimes it's hard to focus on other tasks than these devs as we are a pretty clear image of the target result : we're just lacking time to produce the software : don't you sometimes feel this kind of frustration ?

[2016-03-15 02:44] sualeh commented on #35
Yes, so true!

[2016-03-17 02:22] sualeh commented on #41
Please use SchemaCrawler 14.07.04. Follow the instructions on the website, since the configuration and command-line have changed.

[2016-03-17 02:22] #41 closed

[2016-03-17 03:22] adriens opened #42 "Get a nice (and beautiful) svg version of schemacrawler logo"
... so we can embed it easier in html5 prezz ;-p... or print T-Shirts LOL

[2016-03-17 03:45] sualeh commented on #42
https://github.com/sualeh/SchemaCrawler/blob/master/schemacrawler-docs/schemacrawler_logo.svg

[2016-03-17 03:45] #42 closed

[2016-03-17 03:57] adriens commented on #42
looks strange on gh viewer ;-(

[2016-03-17 04:49] mbarre commented on #41
Great news !
I'll test it tomorrow and let you know :)

Thanks :+1:

[2016-03-17 07:10] adriens commented on #41
@mbarre : ou have the deb waiting for you for the R&D day tomorrow ;-D

[2016-03-17 07:11] mbarre commented on #41
perfect ! Thanks ;)

[2016-03-17 07:12] adriens commented on #42
It looks strange :

![2016-03-17 18_11_16-schemacrawler_schemacrawler_logo svg at master sualeh_schemacrawler](https://cloud.githubusercontent.com/assets/5235127/13838944/c49d658a-ec6b-11e5-9d82-db17d3af2110.png)

[2016-03-17 08:18] adriens commented on #41
Sharingsome inspiration about the lint summary :+1:

https://junit-team.github.io/junit5/#console-runner

[code]

[2016-03-17 08:21] adriens commented on #41
What's interesting is the left padding to keep comments and datas alignment to make them more readable

[2016-03-18 00:49] sualeh commented on #42
Sorry! It is fixed now.

[2016-03-18 00:49] sualeh commented on #41
[Adrien](@adriens), [Michele](@mbarre) - did you get a chance to try out the new lint summary?

[2016-03-18 04:02] mbarre commented on #41
@sualeh
I tried the lint summary this morning, the result is really fine !

We still have some suggestions we have to discuss with Adrien before going back to you.
Maybe we'll do a PR to avoid to annoy with very little things.

Thanks.

[2016-03-18 12:15] sualeh commented on #41
Glad that it is working for you.

On Fri, Mar 18, 2016 at 12:02 AM, Michèle <notifications@github.com> wrote:

[2016-03-20 21:37] adriens opened #43 "Upgrade to xstream 1.4.9"
I've see on my project that xstream has been upgraded to 1.4.9 : http://mvnrepository.com/artifact/com.thoughtworks.xstream/xstream/1.4.9

maybe could you try to upgrade the dependency as it seems to be a minor upgrade.

[2016-03-20 23:04] adriens opened #44 "Implement console code completion on oh-my-zsh"
![tty](https://cloud.githubusercontent.com/assets/5235127/13907844/568259ce-ef4b-11e5-8110-18800047053d.gif)

[2016-03-20 23:04] adriens commented on #44
I'm working on it, cf https://github.com/robbyrussell/oh-my-zsh/pull/4934

[2016-03-20 23:04] adriens commented on #44
Looks pretty good for a first version :-D

[2016-03-20 23:05] adriens commented on #44
more infos about oh my zsh !
https://github.com/robbyrussell/oh-my-zsh

[2016-03-21 00:26] mbarre opened #45 "LintDispatch > Build fails with no critical lint"
Hi Sualeh,

I think we've just found a bug with lintDispatch feature.

The build result is SUCCESS only if there is no lint detected. Even low lint makes the build to fail.

[code]

I created a test case for you.
Here the maven project to exec the build, with our config file and sql script for database creation :
[test_dispatch.zip](https://github.com/sualeh/SchemaCrawler/files/181577/test_dispatc

[2016-03-21 00:43] adriens commented on #42
Yep, it's great now. Thx @sualeh

[2016-03-21 13:15] sualeh commented on #45
This sounds like a bug. I will take a look.

[2016-03-21 13:16] sualeh commented on #44
Cool!

[2016-03-21 13:31] sualeh commented on #44
[Adiren](@adriens), this pull request is for oh-my-zsh, not for SchemaCrawler, correct?

[2016-03-21 20:22] adriens commented on #44
Yep, correct. Could you assign me this issue ?

[2016-03-21 22:43] #45 closed

[2016-03-21 22:58] #43 closed

[2016-03-22 00:10] adriens commented on #43
Ok, i upgrade the deb version with this latest vesion.
Thx.

[2016-03-22 22:10] BrandonZacharie opened #46 "Exception retrieving routine information"
[code]

This worked perfectly before but I have since made many changes to the schema.

[2016-03-22 23:32] sualeh commented on #46
This is probably an [issue with the PostgreSQL JDBC driver](http://goo.gl/P3sqJy). Please use the command-line switch `-routines=`, so that SchemaCrawler does not attempt to obtain stored procedure metadata. Stored procedures are not shown on graphs anyway, so you will save some time too, this way.

[2016-03-22 23:32] #46 closed

[2016-03-23 00:11] adriens commented on #46
@BrandonZacharie : just for info, could you please tell me which driver you are using ?

[2016-03-23 00:48] sualeh commented on #46
[Adrien](@adriens), PostgreSQL driver 9.4.1207 - but this could be because he has user defined data types, perhaps?

[2016-03-23 02:37] BrandonZacharie commented on #46
Yes, I have defined types (enums, to be specific). Also, procs have names like `dk_$person$_getByPhone`. That's legal but worth the mention in case the `$` is an issue somehow.

[2016-03-23 02:42] BrandonZacharie commented on #46
@sualeh Thanks! `-routines=` works perfectly. Also, it didn't just save time, it now finishes instantly.

[2016-03-23 02:51] sualeh commented on #46
Glad to hear, [Brandon](@BrandonZacharie). I am not sure why the PostgreSQL driver fails on those procedures - it may have a bug. If you need the stored procedure metadata for any reason, you could try to omit the problematic ones with a regular expression.

[2016-03-23 03:20] BrandonZacharie commented on #46
I just ran a lint and saw the following:

[code]

I used `-routines=` as well to get it to work. I'm beginning to think it's not the proc names.

[2016-03-23 13:42] sualeh commented on #46
This is a completely different issue. Please open another issue ticket, and I will take care of it.

[2016-03-23 20:10] BrandonZacharie opened #47 "NullPointerException: Name is null"
[code]

[2016-03-23 20:46] sualeh commented on #47
You need to have `schemacrawler-lint-14.06.05.jar` on your classpath. Your current classpath is:
[code]

[2016-03-23 20:46] #47 closed

[2016-03-24 00:11] BrandonZacharie commented on #47
Perfect. Thanks!

[2016-03-24 01:28] sualeh commented on #47
You're welcome. Please use the latest version of SchemaCrawler, since it has some lint enhancements.

[2016-03-24 22:27] adriens opened #49 "Website version not exact"
The website is showing :

[code]

whereas the right vetsion is ```14.07.05```

[2016-03-24 22:32] adriens opened #50 "Still having xstream 1.4.8 (instead of 1.4.9) on 14.07.05"

[2016-03-24 22:32] adriens commented on #50
see https://github.com/sualeh/SchemaCrawler/issues/43

[2016-03-25 00:32] sualeh commented on #49
Thanks. Fixed now.

[2016-03-25 00:32] #49 closed

[2016-03-25 00:34] #50 closed

[2016-03-25 02:18] adriens commented on #49
:+1:

[2016-03-31 10:07] dzhus opened #51 "Add an option to disable weak association detection"
I have to use `-infolevel maximum` in order for `schemacrawler.format.show_row_counts=true` to work, but I don't want to see weak association links on my database diagram.

[2016-04-01 00:28] sualeh commented on #51
I have added a new `boolean` property, `schemacrawler.format.hide_weak_associations`. This will be available in the next release.

[2016-04-01 00:35] #51 closed

[2016-04-01 00:59] sualeh commented on #51
I have released SchemaCrawler 14.07.07 with this feature.

[2016-04-07 04:48] mbarre opened #52 "LintDispatch > Build always succeed"
Hi Sualeh,

I've just updated to v14.07.07.
I seems that critical lint hits are not detected any more, and the build never fails.

I join my test project, where I set LinterTableWithNoPrimaryKey to critical and create a table without primary key.

Let me know if I missed something.

Thanks.

[2016-04-07 04:59] mbarre commented on #52
Sorry, I didn't join the right project.
Here is the good one.
[test_dispatch_wopk.zip](https://github.com/sualeh/SchemaCrawler/files/207749/test_dispatch_wopk.zip)

[2016-04-07 17:01] sualeh commented on #52
Instead of `<dispatch-threshold>`, please use `<threshold>` and let me know. Thanks.

[2016-04-07 21:26] mbarre commented on #52
Arrrgh.... Sorry, it's ok with <threshold>. I didn't see my mistake.
Thanks for your help.

[2016-04-07 21:26] #52 closed

[2016-04-10 22:45] adriens opened #53 "Website version not exact"
The website is showing :

[code]

whereas the right vetsion is ```14.07.07```

[2016-04-12 04:04] adriens opened #54 "How to add additional command line paramater to lints"
Hi @sualeh , i have a new lint idea. But for this new lint, i need to be able to pass additional parameters in the lint command line : any idea/example on how to do that please ?

[2016-04-12 04:10] adriens opened #55 "Implementing thymeleaf templates for lint reporting"
Hi @sualeh , we are beginning to investigate on custom lint reporting. Unfortunately we have no example on how to do this on lints : could you provide us some dummy example (a list of table lints should do the trick) so we can start to prototype something this week ?

Thank you in advance for your help.... we have some really cool ideas but d'ont know how to start ;-(

[2016-04-12 04:29] adriens commented on #54
See https://github.com/mbarre/schemacrawler-additionnallints/issues/60 for more details

[2016-04-12 04:33] adriens opened #56 "Exact meaning of surrogate key"
Hi @sualeh , sorry for asking you once more the same question but it seems like we do not really understant the exact meaning of the ```surrogate key``` lint.

Could you help us by adding additional explanations on your website about this lint ?

Thank you in advance for your help.

Adrien & Michèle

[2016-04-12 04:49] mbarre opened #57 "Lints > How to exclude a column from a lint with config file"
Hi @sualeh ,

How are you doing ?

I have a question about lint config file and column exclusion.

I try to exclude the column "version" (hibernate reserved column) from **schemacrawler.tools.linter.LinterTableWithQuotedNames** lint. But I didn't manage to do it, I tried many regex that seem to be good.

Here some examples, of what I tried

1_ exclude schemaname.tablename."columnname"
[code]

2_ e

[2016-04-13 15:47] ThisGuenter commented on #55
Hi @adriens , i'm using schemacrawler lint in an ORACLE project, if you mean with "table lints" the "schemacrawler.tools.linter.LinterTableSql" or " schemacrawler.tools.linter.LinterCatalogSql" linters - here two examples from our schemacrawler-linter-configs.xml:
`<linter id="schemacrawler.tools.linter.LinterCatalogSql">
		<run>true</run>
		<severity>high</severity>
		<config>
			<property name="

[2016-04-13 21:22] adriens commented on #55
Hi @ThisGuenter , thank you for your help. Indeed, i don't have a problem with using lint configuration. What i need is to know how to accesslint informations from thymeleaf to produce custom html lint reports.

[2016-04-14 23:08] adriens opened #59 "native lint report improvement"
It would be cool to be able to inject formatted (bold, italic, color) html content in lint descriptions/comment in the native lint report.

[2016-04-15 00:19] sualeh commented on #59
Any sample report idea?

[2016-04-15 00:31] adriens commented on #59
For now, just put bold text to emphasis values in lint details

[2016-04-15 00:34] adriens commented on #59
It's just a dummy question. We really want to focus on creating custome thymeleaf template report for lints ;-p

[2016-04-15 00:35] sualeh commented on #59
Closed for now

[2016-04-15 00:35] #59 closed

[2016-04-15 00:36] #56 closed

[2016-04-15 00:39] #53 closed

[2016-04-15 00:41] sualeh commented on #55
Duplicate of #35

[2016-04-15 00:41] #55 closed

[2016-04-15 00:51] #57 closed

[2016-04-15 04:30] mbarre commented on #57
I've just tested it. :+1:
Thanks

[2016-04-15 13:36] sualeh commented on #57
Thanks for checking.

[2016-04-17 05:59] adriens commented on #57
Great news !

[2016-04-17 06:03] adriens commented on #35
For now,with michele, we don't really understand how to extend. Could you provide us some guidelines ?
Could we do the job only with thymeleaf for example or do we still have to code some java stuff ?

[2016-04-17 15:03] pyrocks opened #62 "Modify schemacrawler command line help"
Following our discussion in the forum ([https://sourceforge.net/p/schemacrawler/discussion/495990/thread/784fd8a3/]) - here are a few suggestions:

1. help for -command=graph should display relevant outputformat for graphviz, not the standard outputformat. if you want you can redirect to the output format webpage of graphviz
2. when displaying help for a specific sub-section, in example a specific

[2016-04-17 15:11] sualeh commented on #62
Thanks, Mor. I will fix this.

[2016-04-17 15:29] sualeh commented on #35
I have created some starter code in [sualeh/schemacrawler-dblint-report](https://github.com/sualeh/schemacrawler-dblint-report). Please transfer ownership of this project to you. Thanks.

[2016-04-17 15:29] #35 closed

[2016-04-17 20:20] adriens commented on #35
Thank you very much : that should help us a lot to build a first prototype and better understand how to deal with that.

What do you mean my "transfer ownership of this project to you" ? How do we do that ?

[2016-04-17 20:21] adriens commented on #35
I don't have access to the setting

[2016-04-17 20:27] pyrocks opened #63 "Enhancement Request: Embed input filters into queries"
Hi,
following our [discussion](https://sourceforge.net/p/schemacrawler/discussion/495990/thread/7807396c) - please embed the input filters into the queries such that they will run faster, in example schemas=... should be added as and regexp_like(username,<input_regexp_expression>).

Thanks,
Mor

[2016-04-17 21:23] mbarre commented on #35
Thanks Sualeh, it will be very helpfull !

I don't have access to the settings either to transfert the ownership.

On Mon, Apr 18, 2016 at 7:21 AM, SALES <notifications@github.com> wrote:

[2016-04-18 01:49] sualeh commented on #35
I looked at https://help.github.com/articles/transferring-a-repository/ and I think I would need to be a member of your organization, to transfer ownership. If you cannot transfer ownership, please go ahead and clone. I will delete the original after you clone.

[2016-04-18 03:46] adriens commented on #35
:+1:

... could not this project template be an archetype for other potential  users ?

[2016-04-18 13:33] sualeh commented on #35
Sure, it could be. However, if your new project will be open source, I would rather point to that as an example, since it will be fully functional.

[2016-04-18 21:30] adriens commented on #35
:+1:

[2016-04-18 21:30] adriens commented on #35
Totally agree with the approch. Thanks a lot.

[2016-04-22 01:33] #44 closed

[2016-04-22 02:52] adriens commented on #44
PR not yet merged on ohmyzsh :cry:

[2016-04-22 03:09] sualeh commented on #44
Sorry - not all open source projects are responsive. When the changes are merged, let me know, and I will make a note on the SchemaCrawler website.

[2016-04-22 03:15] adriens commented on #44
Sure @sualeh , i completelmy understand, no worry about that.

[2016-04-29 07:51] ercasta opened #65 ""Primary key column cannot equal foreign key column""
I'm trying to generate a diagram for a schema containing a table whose primary key also has foreign key constraint on it.

Schemacrawler throws an exception complaining that "Primary key column cannot equal foreign key column".

Is there any limitation in Schemacrawler that prevents this configuration to be handled? There is an explicit check in `schemacrawler-api/src/main/java/schemacrawler/crawl

[2016-04-30 04:12] sualeh commented on #65
Why would a record in a table reference itself? Seems pointless.

[2016-05-02 16:37] ercasta commented on #65
Sorry, you're right. The datamodel I'm looking at is wrong. At first sight, it seemed the columns in the primary key were constrained to reference the primary key of another table, but actually they are referencing themselves. This configuration should anyway be harmless so I agree with your change (70927ec)

[2016-05-02 19:19] sualeh commented on #65
Thanks, The only reason you may want to model something like this is to prevent deletes. The best way to do that would be to set appropriate permissions.

[2016-05-03 06:14] ercasta commented on #65
I think it's just a mistake in the datamodel. Most likely the foreign key was intended to refer to another table, to create a table containing additional information for an already existing entity, without changing the original table

[2016-05-03 13:13] kvallish opened #66 "Unable to connect to Sybase 17 database"
I get an error whenever I try to connect and retrieve tables from Sybase 17 database:

SEVERE: Could not find a suitable JDBC driver for database connection URL, jdbc:
sybase:Tds:<database IP>:2638?ServiceName=<dbinstance name>
schemacrawler.schemacrawler.SchemaCrawlerSQLException: Could not find a suitable
 JDBC driver for database connection URL.

Unable to find a way to use sajdbc17 driver to m

[2016-05-03 22:44] sualeh commented on #66
What command-line are you using?

[2016-05-04 01:55] sualeh commented on #63
Please use SchemaCrawler 14.08.01

[2016-05-04 01:55] #63 closed

[2016-05-04 08:14] kvallish commented on #66
Below is the comand I used:
schemacrawler.cmd -c=schema -url=jdbc:sybase:Tds:<db ip>:2638/<dbname> -u=<admin> -password=<password> -outputformat=text -outputfile=a.txt -loglevel=CONFIG -infolevel=standard

Interestingly, when I used the below commandline (jtds instead of sybase), i get the exception stating connection object is closed:
schemacrawler.cmd -c=schema -url=jdbc:jtds:sybase://<db ip>:26

[2016-05-04 08:20] kvallish commented on #66
Using squirrel client to connect to database, I had to use the jconn3-6.0.jar and its com.sybase.jdbc3.jdbc.SybDriver to connect to the same database. How can make schemacrawler to use this driver instead of the jtds driver packaged with it?

[2016-05-04 15:02] sualeh commented on #66
Very simple: delete (remove) the jTDS driver jar file from the SchemaCrawler `lib/` folder, and put in the  Sybase JDBC driver jar file (jconn3-6.0.jar) in that folder. Run SchemaCrawler with the same JDBC URL that you use for SQuirreL SQL Client.

[2016-05-04 15:02] #66 closed

[2016-05-04 16:07] kvallish commented on #66
I still get the same "Could not find a suitable JDBC driver" error. Here is the full exception and logs. Interestingly, jconn driver does not look like loaded from the logs:

D:\Downloads\schemacrawler-14.07.08-main\schemacrawler-14.07.08-main\_schemacrawler>schemacrawler.cmd -c=schema -url=jdbc:sybase:Tds:myserver.com:2638/dbname -u=zenadmin -password=password -outputformat=text -outputfile=a.txt

[2016-05-04 16:18] sualeh commented on #66
Well, I can see the classpath contains the jar,
[code]

but the Java DriverManager does not load the driver,
[code]

It seems like this is a badly implemented JDBC driver. This is really not a SchemaCrawler issue. The last thing to try would be to modify `schemacrawler.cmd`, and add `-Djdbc.drivers=com.sybase.jdbc3.jdbc.SybDriver` just after `java`.

[2016-05-04 16:26] kvallish commented on #66
That worked. Thanks !!!

[2016-05-04 17:28] sualeh commented on #66
+1

[2016-05-04 17:29] sualeh commented on #66
:+1:

[2016-05-04 22:41] sualeh commented on #65
Fixed in 14.08.01

[2016-05-05 04:54] kvallish opened #67 "Null Pointer Exception when crawling schema for Sybase"
Following #66 when schema crawler tries to get the table details from my sybase database, am hitting the below exception:

May 05, 2016 10:21:15 AM us.fatehi.commandlineparser.CommandLineUtility logFullStackTrace
SEVERE: Exception retrieving table information: null
schemacrawler.schemacrawler.SchemaCrawlerException: Exception retrieving table information: null
        at schemacrawler.crawl.Schema

[2016-05-05 13:04] pyrocks commented on #63
Hi,
Thanks for the update. I'll be OOO for the next 2-3 weeks so it might take me some time to check.
Will update.
Mor

[2016-05-05 15:39] sualeh commented on #67
I'll take a look.

[2016-05-08 15:08] #62 closed

[2016-05-18 12:39] karli2 opened #68 "Release 14.08.02 - not loading Columns from Oracle"
I tried to use schemacrawler on a brand new oracle-database, and get the tables and columns of one schema:

Mai 18, 2016 2:32:10 PM schemacrawler.crawl.MetadataResultSet close
INFO: "retrieveColumnsFromDataDictionary" results had 1 rows

the same code, but with the v14.07.08:

INFO: Retrieving table columns, using fast data dictionary retrieval
Mai 18, 2016 2:34:18 PM schemacrawler.crawl.MetadataR

[2016-05-18 16:39] sualeh commented on #68
Thanks, Günter. I will take a look. Do you have the exception details?

[2016-05-18 17:43] karli2 commented on #68
I will try to reproduce tomorrow.

Btw: do you have tipps to speed up schema-information (tables, colums, foreign keys) for an oracle db. My account hat full-access, and it takes very long (20-30 secs) to produce the catalog information; and this is fast because I already restricted to one schema....

I’m currently building an web-app where the people can create special triggers ... and therefore

[2016-05-23 11:44] eoinsha opened #71 "IndexOutOfBoundsException for foreign key"
I came across this exception when crawling a database to generate a graph using `14.08.01-main`.

[code]

It's SQL Server using the jTDS driver. The culprit in this case was a PK column which is a FK referencing itself (apparently this is possible!).

[2016-05-23 17:51] sualeh commented on #71
Thanks. I will explore allowing this to be displayed on a diagram, and then create a lint to check for it.

[2016-05-24 00:37] sualeh commented on #65
Please see #71

[2016-05-24 00:38] #71 closed

[2016-05-24 00:38] #65 closed

[2016-05-25 00:09] sualeh commented on #71
I have released SchemaCrawler 14.08.04 with a fix that supports self-referencing foreign keys in database diagrams.

[2016-05-25 00:09] sualeh commented on #65
I have released SchemaCrawler 14.08.04 with a fix that supports self-referencing foreign keys in database diagrams.

[2016-05-26 00:45] adriens opened #73 "14.08.04 release is lacking the zip distribution"

[2016-05-26 23:32] sualeh commented on #73
I checked on a browser that I was not logged into, and I can see the release. Please check again.
https://github.com/sualeh/SchemaCrawler/releases

[2016-05-26 23:32] #73 closed

[2016-05-27 00:25] adriens commented on #73
Hi @sualeh , just made the test, only source code is available, see screenshot below :

![lacking](https://cloud.githubusercontent.com/assets/5235127/15594034/7d95960c-23fd-11e6-912a-6613e00fe746.png)

[2016-05-27 00:26] adriens commented on #73
![lacking](https://cloud.githubusercontent.com/assets/5235127/15594061/d49b8588-23fd-11e6-8a2b-fc2648532204.png)

[2016-05-27 00:31] sualeh commented on #73
Thanks, [Adrien](@adriens). Seems like Travis screwed up. I will republish.

[2016-05-27 01:44] sualeh commented on #73
Fixed now. Thanks for pointing it out!

[2016-05-27 02:34] adriens commented on #73
:+1:

[2016-06-01 10:57] akkinitsch opened #74 "Diagram: unwanted connections between primary keys with same names"
First of all i'ver git to thank you for your great work.
SchemaCrawler helps me a lot to get a better overview about existing and new databases i've got to work with. Thank you very much for this.

Here comes my question/problem:
I've got a database i want to analyse that has got a lot of tables and a lot of that tables have got primary keys with the same name. These primary keys are valid for the

[2016-06-01 13:23] sualeh commented on #74
Please use `-infolevel=standard`. Also, please provide the entire command-line. Thanks.

[2016-06-01 15:31] akkinitsch commented on #74
That is something i forgot to mention: i already tested that parameter and in my little testcase it does exactly what i need: no more connections between primary keys with same name.

Whe i try to generate the diagram for the db i've got to analyse with `-infolevel=standard`, the result is a pdf-document in same size but without any content (blank white sheet).

My entirecommand-line:
`call java -

[2016-06-01 16:13] sualeh commented on #74
There are a few things going on here. To hide the inferred relationships - "weak associations" - that are shown as doted lines in the diagram, always use `=infolevel=standard`.

Also,
1. GraphViz has a bug where it fails to correctly generate PDF files for large databases. PNG output usually works in this case. The other option, if you want to zoom into diagrams, is to generate in DOT format, and

[2016-06-01 18:00] akkinitsch commented on #74
Thanks for the explanations - another workaround regarding diagrams of large databases that will work for me is to generate svg and to convert it (i.e. via Inkscapes CLI) to pdf.
I prefer pdf because i like to attach them to other pdf-reports.
All the steps are running on a Jenkins CI so they run automaticaly for me after set up and then i do not have to care anymore.

[2016-06-01 18:21] sualeh commented on #74
Good. Glad you worked around the GraphViz bug. Do you still have the issue with some foreign keys not showing on the diagram?

[2016-06-01 18:21] #74 closed

[2016-06-06 04:22] mbarre opened #75 "Column-exclusion in config file is ignored in LinterTableWithIncrementingColumns"

[2016-06-06 04:38] mbarre commented on #75
Hi Sualeh,

I fixed it in my PR. I used getColumns(table) instead of table.getColumns().

Unless this is the way you want linters to work, I think you have the same issue in the following linters :
- LinterNullIntendedColumns
- LinterTableWithBadlyNamedColumns
- LinterTableWithNoRemarks
- LinterTableWithPrimaryKeyNotFirst

Let me know :)

[2016-06-06 13:15] sualeh commented on #75
Thanks. I will fix all of these linters.

[2016-06-07 03:22] #75 closed

[2016-06-07 05:57] mbarre commented on #75
:+1:

[2016-06-09 23:36] sualeh commented on #68
Günter do you have the exception details?

[2016-06-10 04:41] karli2 commented on #68
sorry no - I hope next week. btw: I used SC on oracle 12 where the retrieval of foreign keys took 2 minutes (in a databae with 6 tables) ... but when i deployed my code to use an oracle 11 express this was done in a few seconds ...

Am 10.06.2016 um 01:37 schrieb Sualeh Fatehi <notifications@github.com<mailto:notifications@github.com>>:

G?nter do you have the exception details?

-
You are receivi

[2016-06-12 21:54] mbarre commented on #75
I tested it this morning, it works thanks !

[2016-06-12 23:25] sualeh commented on #75
:+1:

[2016-06-12 23:27] sualeh commented on #68
The code is targeted to Oracle 11. If you send me the logs from Oracle 12, we can see what is taking long, and optimize that for Oracle 12.

[2016-06-13 06:03] karli2 commented on #68
therfore I do not need to start the computer :) the foreign keys are the biggest problem. they take approx. 2 minutes ... which is awfull, because as I already told you, there are just 5-6 tables in the database (my tables, there are thousands of oracles own tables). I searche the internet for a sql statement, and found one, and if I run that statement in sql developer, the result is in approx. 2

[2016-06-13 15:06] karli2 commented on #68
Hi,

here is now some information regarding speed:

-       Attached you find my schema – that’s really all

-       Oracle: winx64_12102_SE2

My code:

                           SchemaInfoLevel schemaInfoLevel = new SchemaInfoLevel();
                           schemaInfoLevel.setTag("Custom Info Level");
                           schemaInfoLevel.setRetrieveTables(true);

[2016-06-13 15:20] karli2 commented on #68
Here now the exception:

Jun 13, 2016 5:13:08 PM schemacrawler.crawl.TableExtRetriever retrieveTableDefinitions
INFO: Retrieving table definitions
Jun 13, 2016 5:13:43 PM sf.util.DatabaseUtility executeSql
WARNING: Error executing SQL, SELECT /*+ PARALLEL(AUTO) */
  NULL AS TABLE_CATALOG,
  TABLES.OWNER AS TABLE_SCHEMA,
  TABLES.TABLE_NAME,
  DBMS_METADATA.GET_DDL('TABLE', TABLES.TABLE_NAME, TABLE

[2016-06-13 16:30] sualeh commented on #68
Thanks for the detalis. I will open another issue for the slowness. For the exception, I believe that this has been fixed in the latest version of SchemaCrawler. Please could you check? Thanks.

[2016-06-13 16:33] karli2 commented on #68
As I wrote on the initial message: there was the problem with retrieveColumnsFromDataDictionary which resulted in just 1 column...

[2016-06-13 16:56] sualeh commented on #68
Ok, then I am missing something. Why use release 14.07.08 at all?

[2016-06-13 23:10] sualeh commented on #54
With SchemaCrawler 14.08.06, command-line parameters as well as parameters from the SchemaCrawler configuration file are available to individual linters. You can access these from the linter's `config` method.

[2016-06-13 23:10] #54 closed

[2016-06-13 23:10] adriens commented on #54
Great, thanks for update @sualeh
:+1:

[2016-06-14 20:09] sualeh commented on #54
@adriens Please use the new release, and let me know.

[2016-06-16 01:48] #68 closed

[2016-06-16 01:49] sualeh commented on #67
I am unable to set up a Sybase server easily. Still trying.

[2016-06-16 17:51] fadein opened #77 "avoid external and mac-specific command in directory completion"
The function s:WhiplashGetProjectNamesString() uses an Apple-specific argument to the ls command to generate a list of directories for completion.

Vimscript provides built-in functions that can do this task which will lead to a more portable plugin.

[2016-06-16 17:51] fadein opened #78 "TODO: don't run whiplash scripts for non-existent projects"
Github issue for a TODO item mentioned in the code

[2016-06-16 17:52] fadein commented on #78
Whoops, I was on the wrong GitHub tab. Sorry!

[2016-06-16 17:52] #78 closed

[2016-06-16 17:53] fadein commented on #77
Sorry! This isn't the github page I thought I was looking at.

[2016-06-16 17:53] #77 closed

[2016-06-23 15:12] fadein commented on #67
@sualeh, good news! I am running into the exact same error as @kvallish, but with a MySQL database. My stacktrace looks the same as @kvallish's except the line numbers are a bit different, so I may be using a different version of SchemaCrawler than they are.

I wonder if the problem may come down to a JVM or Java language issue?

**Here is my info:**
_The command I'm trying to run_
[code]

_The re

[2016-06-23 16:50] sualeh commented on #67
Thanks, @fadein - this will be easier for me to reproduce.

[2016-06-26 15:29] pyrocks opened #79 "Performance issues when running on a DB with thousands of objects"
Hi Sualeh,

It's me again, sorry for not responding earlier, I've been out of work for the past 7 weeks.
The former 2 issues seems resolved, but I still have a severe performance issue running schema crawler on a large DB.

From the queries it looks like you're fetching the info one table at a time, one procedure/function at a time etc., and since I have thousands of objects DB wide each such fetc

[2016-06-26 15:34] sualeh commented on #79
I can take a look at it, Mor. However, I would recommend using SchemaCrawler's powerful grep functionality to create multiple ERDs for different domains within your schema. That may make the ERDs more usable. Also, why are you retreiving stored procedures for an ERD?

[2016-06-26 15:56] pyrocks commented on #79
Hi,

You're right, I actually tried to generate an HTML which describes the schema for the same purpose - and I had to kill the batch after running for 30 minutes - command I used:
call java -classpath ../../_schemacrawler/lib/*;lib/* schemacrawler.Main -server=oracle -host=**** -port=**** -database=**** -user=**** -password=**** -schemas=**** -infolevel=standard -command=schema -outputformat=html

[2016-06-26 16:04] pyrocks commented on #79
one more thing - if you want me i'll open a new issue for it:
(SELECT A.TYPECODE
              FROM   ALL_TYPES A
              WHERE  A.TYPE_NAME = ARG.DATA_TYPE)
You have to use the owner there as well (and A.owner=:owner or A.owner is null, if we assume one cannot override a reserved type name)
theoretically one might define 2 different types in 2 different schemas but with the same name - your

[2016-06-26 16:25] sualeh commented on #79
Yes, please enter a new issue for that.

[2016-06-27 05:52] pyrocks opened #80 "oracle: Select from all_types should include owner"
Hi,
refering to:
(SELECT A.TYPECODE
FROM ALL_TYPES A
WHERE A.TYPE_NAME = ARG.DATA_TYPE)

You have to include the owner there as well (and A.owner=:owner or A.owner is null, if we assume one cannot override a reserved type name)

Here's an example of the same name returning 2 different type codes:
[code]

Mor

[2016-06-27 14:42] SpyroTEQ commented on #67
Meh, I got the exact same issue when trying to draw the diagram of a MySQL database. Same lines

`schemacrawler.cmd -server mysql -host=localhost -port=3306 -user=### -password=### -database=### -tables=.*\.ctc_.* -infolevel=minimum -command=graph -outputformat=png -outputfile=graph.png -schemas=### -loglevel=CONFIG`

MySQL 5.7.10 (so probably not a DB-related issue)
Windows 7 SP1, java 1.8.0_92
N

[2016-06-27 14:58] sualeh commented on #67
This week, I am going to try to reproduce and investigate the source of the problem. Meanwhile, if someone can give me a test schema, that will help me get there faster. Thanks.

[2016-06-27 15:56] fadein commented on #67
I have just reproduced the issue with this [Northwind database for MySQL](https://storage.googleapis.com/google-code-archive-downloads/v2/code.google.com/northwindextended/Northwind.MySQL5.sql) in the exact same environment as in my 1st report above.  I hope that this is helpful to you.

This is the output which resulted:

C:\Users\erikf\Desktop\schemacrawler-14.08.06-main\_schemacrawler>schemacra

[2016-06-29 03:30] sualeh commented on #67
[Erik](@@fadein), SpyroTEQ - to resolve the MySql issue, please delete the `mariadb-java-client-1.4.5.jar` from the lib folder. I am still investigating the Sybase issue.

[2016-06-30 12:53] sualeh commented on #67
Release 14.09.01 of SchemaCrawler will address this issue. SchemaCrawler will no longer be distributed with a MariaDB JDBC driver for MySQL, since that interferes with MySQL processing. Also, the MySQL JDBC URL has been fixed for backward compatibility. The null pointer issue with Sybase has been addressed.

[2016-06-30 12:53] #67 closed

[2016-07-05 02:18] sualeh commented on #79
Mor, please send me the latest debug logs from SchemaCrawler. Please run SchemaCrawler with
`-loglevel=ALL`, and send me the log file, to sualeh@hotmail.com.

[2016-07-05 03:31] #80 closed

[2016-07-10 09:48] pyrocks commented on #79
Hi,

Sorry for the delay. I will start collecting the logs today and send them once they are ready.

P.S. from security perspective does the loglevel=all collects anything on the target DB ?
because if that is the case I might have to edit the logs before sending.

-Mor

[2016-07-10 09:55] pyrocks commented on #79
one more Q (unrelated to the topic) - why aren't you bundling ojdbc7.jar (for oracle RDBMS) ?

[2016-07-10 11:57] pyrocks commented on #79
Hi,

I was finally able to get a result (html) within a timely fashion (although it still took 6.5 minutes) by disabling crawling routines (routines=[nothing])

Seeing the log, I've got a few questions on the way SchemaCrawler works:
1. Why do you load all the DB connectors while only 1 is being used? I think you should parse the server argument and only then load the relevant DB connector/driver.

[2016-07-11 01:38] sualeh commented on #79
* Question
  why aren't you bundling ojdbc7.jar (for oracle RDBMS) ?
  *\[@sualeh\]* Oracle does not allow me to redistribute the Oracle JDBC jar.
* Question
  Why do you load all the DB connectors while only 1 is being used? I think you should parse the server argument and only then load the relevant DB connector/driver.
  *\[@sualeh\]* SchemaCrawler's architecure allows for plugging in extension

[2016-07-11 01:41] sualeh commented on #79
Mor, please optimize your fixed object statistics - that may help.
* [Fixed Objects Statistics and why they are important](https://blogs.oracle.com/optimizer/entry/fixed_objects_statistics_and_why)
* [On gathering dictionary statistics: do I analyze the SYS schema?](https://juliandontcheff.wordpress.com/2011/06/04/on-gathering-dictionary-statistics-do-i-analyze-the-sys-schema/)

[2016-07-11 04:53] pyrocks commented on #79
Hi,

I accept your answers as in the end it seems to "waste" little time in regards to the total time (but those were things that seemed relevant to ask).
It's not an issue of dictionary stats/fixed views - as I have mentioned it's a huge DB with tens of thousands of objects.

I did not see from the log what runs or consumes all the mentioned time, even though I used loglevel=ALL. How come there's

[2016-07-11 06:11] pyrocks commented on #79
Hi,

From AWR I was able to see the following SQL as the most problematic:
SELECT NULL AS table_cat, c.owner AS table_schem, c.table_name, c.column_name, c.position AS key_seq, c.constraint_name AS pk_name
FROM all_cons_columns c, all_constraints k
WHERE k.constraint_type = 'P' AND k.table_name = :1
AND k.owner like :2 escape '/'
AND k.constraint_name = c.constraint_name
AND k.table_name = c.table

[2016-07-11 10:34] pyrocks commented on #79
1 more things I noticed in the output HTML - for Oracle you should omit the word "clustered" from the index descriptions since there's no such thing as clustered/non-clustered indexes in Oracle (there are other types - BTree (default), reverse, bitmap, IOT etc. (didn't check if you report them correctly)).

[2016-07-12 17:56] sualeh commented on #79
Mor, I will take a look at the primary key retrieval in SchemaCrawler, and try to save some time there.

[2016-07-13 05:19] pyrocks commented on #79
Thanks.
1 More thing: is it possible to pass connection properties, or instead of using host,port,database to use a jdbc thin URL (like Oracle's EZConnect) ?
The reason i'm asking is on our large DB the connections without tnsnames are SHARED and not DEDICATED, this affects the total time due to "virtual circuit wait" event (user process waiting for a server process to be available to process the

[2016-07-13 11:39] sualeh commented on #79
Absolutely - use the `-url` argument. Please run SchemaCrawler wiht `-help` for details.

[2016-07-13 12:08] pyrocks commented on #79
I missed that, sorry. -url is Working like a charm. It improved the run time but by a margin and not something substantial, again due to that PK query loop.

Another idea I had - if you cannot gather all the info in a single query and parse it by code - perhaps open multiple connections (pool size configured by a parameter) and use all of them for parallel processing. This will require working wit

[2016-07-13 12:30] sualeh commented on #79
I can use a single query for primary keys. That should speed things up. Threading will come with it's own set of problems (and bugs).

[2016-07-13 12:42] pyrocks commented on #79
Great, please let me know as soon as you have something ready for testing.
I'm sure it would reduce the times by more than half for the large DB.

I may not contribute code, but I hope my inputs are still valuable :)
If this goes well and my managers approve adding this to our build process - you could add me and the company I work for to your "who uses SchemaCrawler" page :)

[2016-07-13 23:56] #79 closed

[2016-07-14 02:16] sualeh commented on #79
Please use SchemaCrawler 14.09.02.

[2016-07-14 02:16] sualeh commented on #80
Please use SchemaCrawler 14.09.02.

[2016-07-14 11:01] pyrocks commented on #79
What an improvement! on the large DB it now takes 25 seconds in total compared to 7+ minutes before the improvement - well done!
The breakdown is pretty much this:
- 30.0% - 00:00:06.054 - "retrieveColumns"
- 25.0% - 00:00:05.210 - "retrieveForeignKeys"
-  0.0% - 00:00:00.269 - "filterAndSortTables"
- 40.0% - 00:00:08.599 - "retrieveIndexes"

On the smaller DB times are now improved to 11 seconds.

[2016-07-14 12:38] sualeh commented on #79
Great! I am so glad it worked for you.

[2016-07-14 13:38] pyrocks opened #81 "PDF generated is blank on a schema with many objects"
Hi,

It looks more like a bug in dot than in schemacrawler - but maybe you know:
If I try to generate a PDF using -graph -outputformat=pdf on a schema with many tables, when I open the generated PDF it appears as blank. It's not actually blank since if I select a portion of it it highlights some blank table cells with no text in them, as if the tables are there but with no text.
![graphviz_generat

[2016-07-14 14:01] pyrocks commented on #81
I went through the [dot guide](http://www.graphviz.org/pdf/dotguide.pdf) especially section 2.5 "Drawing Orientation, Size and Spacing" and managed to get the PDF working by adding size="7.5,10" to the first [graph] properties, above nodesep="0.18"

While i'm not sure this is the best setting for all scenarios - would it be possible to somehow configure it from SchemaCrawler's config or command li

[2016-07-14 15:11] sualeh commented on #81
Mor,

1. This is an Adobe Acrobat Reader issue. Foxit Reader opens the big files just fine.
2. Please read the [SchemaCrawler documentation on how to set GraphViz properties](http://sualeh.github.io/SchemaCrawler/diagramming.html).

Sualeh.

[2016-07-15 02:12] #81 closed

[2016-07-25 19:11] abstratt opened #82 "javadoc for Table#getForeignKeys() refers to type/method that are not API"
[code]

TableAssociationType is private to MutableTable, and getForeignKeys(TableAssociationType) only exists as a private method in MutableTable.

[2016-07-25 23:58] #82 closed

[2016-07-27 10:04] pyrocks opened #83 "Enhancement: to be able to hide schema names but not constraint names"
Hi,

I would like to request the option to hide schema names when generating an html output with command=schema (/brief/details).
currently -portablenames=true hides both the schema names and all constraint names - but I want the constraint names to appear.

one option is to add more options to the -portablenames option, in example=true/false/schemas only/constraints only etc.

Thanks,
Mor

[2016-07-27 11:57] sualeh commented on #83
http://sualeh.github.io/SchemaCrawler/how-to.html#hide-schema-names

[2016-07-27 11:58] #83 closed

[2016-07-27 12:08] pyrocks commented on #83
2 comments:
1. It would be nice to have the option directly from the command line without a config file (I don't like having extra files to manage).
2. the documentation is too scattered in the site (to me at least).

[2016-07-27 13:01] sualeh commented on #83
1. I hesitate to add more options to the command-line. The options are complicated enough with the use cases that most users want. What I can offer you is a SchemaCrawler config properties file that you keep in the SchemaCrawler `lib/` folder, that acts as defaults. Will that work?
2. I will see what I can do about the documentation. That being said, use Google to find SchemaCrawler documentation.

[2016-07-27 17:18] pyrocks commented on #83
1.no need, i will use a local config file (it works well)
2. Will keep in mind the google option.
Thanks for the help.

[2016-07-28 12:07] pyrocks commented on #83
Hi,
1 more Q - what sets the color of the table name background in the generated HTML?
Every time I generate a file I get a different color - is it random or calculated on something?
If it's random (I assume it's not) - might be problematic when doing a diff.
I did try to google "schemacrawler color" but found nothing useful.

[2016-07-28 12:24] sualeh commented on #83
The color is generated based on the schema name. It will be the same for a given schema. It will be an enhancement to allow setting specified colors for a schema.

[2016-07-28 12:54] pyrocks commented on #83
why not use the same color for all html output?

[2016-07-28 13:05] sualeh commented on #83
Well, you can have multiple schemas in a single diagram, and also many diagrams on subsets of your schema. This way, you are guaranteed the same color for a given schema name. Anyway, if you want to specify colors, please enter in an enhancement request.

[2016-07-31 06:19] pyrocks opened #84 "Enhancement: To be able to specify report color/disable coloring by name"
Hi,

The reason I want this is because our schema are named [base_name]_[version]

In example SCHEMA1_0100 and SCHEMA1_0200
I want to be able to compare between them since it's the same schema - just different versions of it - without the color specifications coming up on the diff.

Either way - to be able to specify report color/disable coloring by name - is good for my purposes.

Thanks again,
M

[2016-07-31 19:19] #84 closed

[2016-07-31 21:19] sualeh commented on #84
Please use SchemaCrawler 14.09.03. You will need to set a new configuration value in your properties file, `schemacrawler.format.no_schema_colors=true`

[2016-08-01 03:45] pyrocks commented on #84
Thanks a lot, I will test it later today.

[2016-08-01 12:43] pyrocks commented on #84
New configuration value is working correctly, :+1: .

[2016-08-01 12:58] sualeh commented on #84
Excellent.

[2016-08-07 12:19] pyrocks commented on #84
Hi,
Another question - when comparing 2 HTMLS I get different "span id" values for the same object (table). Any way to avoid that?
Thanks

[2016-08-08 08:23] AlexLuya opened #85 "catalog.getTables(schema) returns empty list"
Hello,
     blow is my test code,schema got printed out,but tables not,doesn't SchemaCrawler support MariaDB yet.
[code]

[2016-08-08 13:14] sualeh commented on #85
SchemaCrawler does support MariaDB. MariaDB calls tables ["BASE TABLE"](https://mariadb.com/kb/en/sql-99/base-table/). So, please add "BASE TABLE" to your list in `options.setTableTypes(Lists.newArrayList("TABLE","VIEW","SYSTEM TABLE"));`

[2016-08-08 13:14] #85 closed

[2016-08-08 13:20] sualeh commented on #84
Mor, you cannot avoid different span id values. SchemaCrawler needs to ensure that the id is unique, and it does that by deriving the id based off the fully qualified database object name. What you can do, though, is to generate output in text format, and compare that.

[2016-08-08 13:25] pyrocks commented on #84
I thought about that - then I might have to generate 2 type of files (1 for readability and another for compare). will check that. Thanks.

[2016-08-08 13:35] sualeh commented on #84
That may be a good idea. The HTML compare can get messy if you do not have a good compare tool. If you do use a good HTML compare tool, it should be able to filter out mismatches between ids.

[2016-08-08 13:37] AlexLuya commented on #85
Thanks,I followed your suggestion,but still not table name got printed out

[2016-08-08 14:44] sualeh commented on #85
Please show your updated code.

[2016-08-08 22:35] AlexLuya commented on #85
just changed blow

`options.setTableTypes(Lists.newArrayList("TABLE","VIEW","SYSTEM TABLE"));`

to
`options.setTableTypes(Lists.newArrayList("TABLE","VIEW","SYSTEM TABLE","BASE TABLE"));`

[2016-08-09 08:11] mannysangra opened #86 "To be able to specify color by schmea"
Hi,

How can I specify different colour for each schema ?
The reason I want this is because our tables are named  [schmea_name.table_name]

In example :
SCHEMA1 has got 2 table (ex: schema_name.table_name1,schema_name.table_name2)
SCHEMA 2 has got 2 table
SCHEMA 3 has got 4 table
When I have generate SchemaCrawler, for some reason the tables of SCHEMA 2 and SCHMEA 3 has got same color for tables..

[2016-08-09 13:52] sualeh commented on #85
Try commenting that line completely.
`// options.setTableTypes(Lists.newArrayList("TABLE","VIEW","SYSTEM TABLE","BASE TABLE")); `

[2016-08-09 21:48] AlexLuya commented on #85
don't work,still only database names got printed out.

[2016-08-10 07:12] elyashiv opened #87 "use "$@" instead of $*"
In the .sh scripts you use $\* witch expands to the parameters given to the script. According to [the bash manual](https://www.gnu.org/software/bash/manual/html_node/Special-Parameters.html) the use of "$@" will expand to the same thing, just quoted, something that can be quite useful.

[2016-08-10 10:25] AlexLuya commented on #85
How can reopen this bug,or should I create new one?

[2016-08-10 12:15] sualeh commented on #85
In order to file a bug, you need to provide a detailed log file. Please run SchemaCrawler from the command-line, with an additional `-loglevel=ALL` argument, and provide the logs.

[2016-08-11 03:06] AlexLuya commented on #85
strangely,command line can print out all columns,would you please tell me what is wrong in my code.

[2016-08-11 03:17] sualeh commented on #85
Try getting rid of the schema exclusion rule?

[2016-08-11 03:24] AlexLuya commented on #85
Tried your suggestion,same result,and I added
`options.setTableNamePattern("*");`
try again,same result.

[2016-08-11 08:44] AlexLuya commented on #85
`options.setTableNamePattern("%");`

will give table list,but got another error:
[code]

`where to set column column name pattern?`

[2016-08-11 16:04] sualeh commented on #85
You are not providing complete information. I do not know what version of SchemaCrawler you are using, what type of operating system, database name and version, JDBC driver name and version, and so on. You have posted information on StackOverflow that indicates you are using MySQL, but this issue is about MariaDB, so I am completely confused on what exactly you are trying to do.

[2016-08-11 19:17] sualeh opened #88 "Read default SchemaCrawler configuration from the CLASSPATH"
Read default SchemaCrawler configuration from the CLASSPATH, so that you can create a `schemacrawler.config.properties` file in the `lib/` directory, and reduce the number of command-line arguments, as well as get fine grained control of the output.

[2016-08-11 19:18] sualeh opened #89 "Remove support for options.setTableNamePattern("%");"
Remove support for `SchemaCrawlerOptions` - `options.setTableNamePattern("%");`, since this was a hack outside the regular expression support for SchemaCrawler, and some JDBC drivers do not support this as per JDBC specifications.

[2016-08-12 00:26] AlexLuya commented on #85
Sorry for that,I am using:
[code]
  By the way,with same configuration,blow command gives expected output
**./schemacrawler.sh -server=mysql -database=target_db -user=root -password=password -infolevel=ALL -command=schema
wi**

[2016-08-12 00:30] sualeh commented on #85
I still have no idea what the classpath is, and I am really not sure if you are Java programmer if you cannot provide relevant information to help debug, and are not able to debug for yourself. You have not even provided the logs that I asked for.

[2016-08-12 00:48] AlexLuya commented on #85
Shame for me,
[code]

[2016-08-12 00:50] sualeh commented on #85
So, why are you using the MySQL JDBC driver to connect to MariaDB?

[2016-08-12 00:51] AlexLuya commented on #85
Seems picked by itself

[2016-08-12 00:53] sualeh commented on #85
Ok, I am sorry I cannot help you any more. Do you understand that the MariaDB driver is not on your classpath? Please look at this page: http://sualeh.github.io/SchemaCrawler/consulting.html

[2016-08-12 01:12] AlexLuya commented on #85
Yes,I haven't MariaDB in

`schemacrawler-14.09.03-main/_schemacrawler/lib`

but with command line

`./schemacrawler.sh -server=mysql -database=target_db -user=root -password=password -infolevel=ALL -command=schema`

gives `expected output`,if changing

` -server=mysql to -server=maridb`

I got:

[code]

Within eclipse,I have both mariadb driver and mysql driver in classpath,

if

`final DataSource

[2016-08-12 03:53] sualeh commented on #89
Second guessing this.

[2016-08-12 03:53] #89 closed

[2016-08-15 03:51] #88 closed

[2016-08-15 03:52] #86 closed

[2016-08-15 03:54] sualeh commented on #86
You can create a file called `schemacrawler.colormap.properties` in the `lib/` folder or the current working directory, and specify custom color mappings.

The syntax is an HTML color preceded by a dash, and a regular expression.
[code]

[2016-08-15 04:36] AlexLuya commented on #85
Finally,I figured it out:
`options.setTableTypes(Lists.newArrayList("BASE TABLE","TABLE","VIEW","UNKNOWN"));`

Caution:with MariaDB,table types is "**UNKNOWN**"

[2016-08-24 07:51] schemacrawler opened #90 "Cannot connect to SQL Server 2014 Express"
After one day trying to connect to SQL Server 2014 Express I give up.

- Mixed authentication has been enabled in SQL Server 2014
- The SQL Server 2014 has been configured to enable tcp/ip connection
- The firewall has been configured to allow connections on the port 1433 and for sqlserver.exe
- A sql server login named "sc" with password "sc" has been created and mapped to a test database

If I u

[2016-08-24 17:09] sualeh commented on #90
Please use the URL version of SchemaCrawler command-line, and follow the instructions to construct a URL in [jTDS FAQs](http://jtds.sourceforge.net/faq.html)

[2016-08-24 17:09] #90 closed

[2016-09-02 21:10] sualeh commented on #87
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;1xNt0wWt&#x2F;239-use-shell-wildcard"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> Use shell wildcard</a>

[2016-09-14 13:28] Spamme1 opened #91 "Parameters in database connection url are ignored"
I'm trying to connect to sql server 2014 with integrated security and I use the database connection url as specified [here](http://sualeh.github.io/SchemaCrawler/database-support.html). But I doesn't work because without a user name and password schemacrawler asks for a "password". Why? I want to log in with the actual user credentials ... is it possible?
[code]

So I tried to add the user name an

[2016-09-14 14:39] Spamme1 commented on #91
After googling for hours I finding pieces of information on different pages I could put together something that is working:
[code]
To use integrated security you have also to download the [jtds project](https://github.com/milesibastos/jTDS) and copy the ntlmauth.dll in a reachable path ([readme.sso](https://github.com/milesibastos/jTDS/blob/master/README.SSO))

[2016-09-14 14:45] Spamme1 opened #92 "How to create a HTML5 with embedded diagrams?"
I can't find anywhere how to output "html5 with embedded diagrams" as mentioned [here](http://sualeh.github.io/SchemaCrawler/output.html), which should give this [result](http://sualeh.github.io/SchemaCrawler/snapshot-examples/snapshot.svg.html).
It is not clear which command should be used: graph, details, schema, brief? Because the graph is the only one producing a diagram, but the output is a p

[2016-09-14 15:03] sualeh commented on #92
Please use -outputformat=htmlx. Also, please note that documentation is available with -help on the command-line.

[2016-09-14 15:21] Spamme1 commented on #92
Sorry but I don't see anywhere the htmlx option in the help, which command should have it?

[code]
[code]

[2016-09-14 15:29] sualeh commented on #92
I am not at my computer, but please try it out. I will look into the documentation later.

[2016-09-14 15:42] Spamme1 commented on #92
I tried with the command "details" and it works, but this "htmlx" option is not documented anywhere.

[2016-09-14 15:58] sualeh commented on #92
Ok, thanks. I will add documentation.

[2016-09-14 16:13] Spamme1 opened #93 "Lint Function: Bigint primary key issue: "foreign key data type different from primary key""
It seems that the lint function has a problem with the bigint data type as primary key, it finds that all the foreign keys aren't of the same type of the primary key:
[code]

Here the sql script to generate the tables:
[code]

[2016-09-15 05:53] sualeh commented on #91
Thanks for doing this research. This will help other users. I will update the documentation on [the SchemaCrawler database support page](http://sualeh.github.io/SchemaCrawler/database-support.html).

[2016-09-17 02:09] #93 closed

[2016-09-17 02:44] #92 closed

[2016-09-17 16:14] #91 closed

[2016-11-03 18:49] domosapien opened #94 "Comments on tables in PostgreSQL missing"
Specifically in the graphviz output (haven't checked others), the comments are missing at the table level (column level comments are present).

[2016-11-03 22:38] sualeh commented on #94
[Zach](@domosapien), I checked that tables comments do show up in graphs. We will need to debug your specific case. Please me debugging logs by email, after running SchemaCrawler with `-loglevel=ALL`. Thanks.

[2016-11-07 18:01] domosapien commented on #94
Sorry for opening the issue and wasting your time, it is definitely a problem with the schema definition (comment was being applied to the wrong table). I should have reviewed the problem more closely. Verified it works as expected once the schema was fixed.

[2016-11-07 18:01] #94 closed

[2016-11-07 18:30] sualeh commented on #94
No worries. Unfortunately, SchemaCrawler does not automatically write comments for you yet. Maybe in a future version.

[2016-11-10 10:00] gnh1201 opened #95 "what is 'properties {}' error?"
I try schemacrawler in command line. but occurred this error.

what is 'properties {}' error?

[code]

[2016-11-10 13:15] sualeh commented on #95
Please try something like:

[code]

Please review [Driver/Datasource Class Names, URL Syntax and Configuration Properties for Connector/J](https://dev.mysql.com/doc/connector-j/5.1/en/connector-j-reference-configuration-properties.html) for more information.

[2016-11-10 13:15] #95 closed

[2016-11-10 14:53] ptahchiev opened #96 "Create ditaa text file with db diagram"
I would like to see a way to generate a ditaa diagram:

http://ditaa.sourceforge.net/

for my database schema instead of an image with graphviz. If you could create a text file which then I can use ditaa to create an image that would be really awesome.

[2016-11-10 16:37] sualeh commented on #96
SchemaCrawler has all the capabilities to allow you to do this. Please use SchemaCrawler's templating feature with either Apache Velocity or Freemarker to generate these files.

[2016-11-10 16:37] #96 closed

[2016-11-13 21:52] adriens commented on #96
Looks like an interesting idea, let us know when you achieved something that you can show ;-p

[2016-11-17 23:19] adriens opened #97 "Website looking strange on github"
![obsn5](https://cloud.githubusercontent.com/assets/5235127/20412027/5b1e751c-ad78-11e6-94a3-b1e8614f72e3.png)

[2016-11-18 01:34] sualeh commented on #97
Adrien, that can happen if the browser has not loaded all of the CSS and JavaScript. What browser are you using, and what operating system? The site loads fine for me.

[2016-11-18 04:28] adriens commented on #97
FF from

[code]

It does now look good.

[2016-11-18 04:28] #97 closed

[2016-12-06 10:46] chrycheng opened #99 "schemacrawler-sqlite dependencies not resolved"
The error is as follows:

See the [log of the full command line session](https://github.com/sualeh/SchemaCrawler/files/633588/session.txt) for more details.

[2016-12-06 10:51] chrycheng commented on #99
Even switching back to the default Maven Central repository gives the same error:

[2016-12-07 02:39] adriens commented on #99
@chrycheng : you can also see a live travis file that includes the artifact install :
 https://github.com/adriens/schemacrawler-deb/blob/master/.travis.yml

[2016-12-07 11:39] chrycheng opened #100 "NamedObjectComparisonStrategy in schemacrawler-diff doesn't seem to work"
It's mapped to handle `NamedObject` instances but as far as I can tell it doesn't get retrieved because `NamedObject` is an interface and the actual type of the instance (e.g., `MutableTable`, etc.) is used to look up `ComparisonStrategy`s in `ComparisonService`.  To further confirm, I added `System.out.println` calls to `NamedObjectComparisonStrategy::compare` (see following diff) which did not a

[2016-12-07 12:07] chrycheng commented on #100
Actually, removing the mapping doesn't seem to affect the outcome of the test as it still passes.

[code]

[2016-12-08 03:38] #100 closed

[2016-12-09 12:32] edesdan opened #101 "Support for Java 1.7?"
Does the library support Java 1.7?

[2016-12-10 17:08] sualeh commented on #101
You will need to use SchemaCrawler 12.06.03, which was the last version to support Java 7.

[2016-12-10 17:08] #101 closed

[2016-12-14 15:52] ZidaneT opened #102 "Teradata JDBC Driver Problem"
DatabaseMetaData from Teradata returns only "jdbs:teradata" from getUrl() method. Because of this, SchemaCrawler throws an exception when retrieving JDBC driver data (crawlDatabaseInfo in SchemaCrawler.crawl()), because it does not validate this URL as valid(in DriverManager.getDriver(url)).

Could be something done to make this work? Maybe at least give an option not to retrieve driver info at al

[2016-12-14 20:11] melloware opened #103 "Velocity and FreeMarker"
First of all nice job on this Library!

A couple of questions.  I have your Velocity Example working but it just outputs to the console.

1. How do I modify the CMD file to send output to a file instead of console?

2. I notice you don't have a FreeMarker example I am assuming I can just follow the Velocity example as I see you have a FreeMarkerRenderer etc?

[2016-12-14 20:24] melloware commented on #103
Found answer to #1 looking through your source code..

`-outputfile=tables.txt`

[2016-12-14 20:37] melloware commented on #103
And answered #2 this works great just modified velocity.cmd to freemarker.cmd.

[code]

[2016-12-15 00:45] melloware commented on #103
So now what I want to do is only crawl the database once but have it run on a set of Velocity or Freemarker templates.  So for example:

- audit-sql.vm
- java-pojo.vm
- java-dao.vm

Where it runs the above templates 1 for each table and generates output for a table call Foo  like...

- foo-audit.sql
- Foo.java
- FooDao.java

etc.  So I want to crawl once but have it process many templates for each

[2016-12-15 03:56] sualeh commented on #103
Yes, you would have to write custom code for that.

[2016-12-15 03:56] #103 closed

[2016-12-15 04:10] sualeh commented on #102
Please send me a stack trace, and I will see how to address it.

[2016-12-15 08:29] ZidaneT commented on #102
<pre>accurity.revenga.exceptions.ExternalToolException: SchemaCrawler was not able to create a connection.

	at accurity.revenga.browser.OnlineDBBrowserServiceImpl.crawlCatalog(OnlineDBBrowserServiceImpl.java:111)
	at accurity.revenga.browser.OnlineDBBrowserServiceImpl.getTable(OnlineDBBrowserServiceImpl.java:94)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.Nativ

[2016-12-16 02:44] adriens commented on #102
@ZidaneT : is there a public open source jdc driver for this datanase ? If yes, can you please provide me the maven artifact groupid and id please ?

[2016-12-19 02:26] sualeh commented on #102
Please use SchemaCrawler 14.11.01

[2016-12-20 09:06] ZidaneT commented on #102
@adriens I don't think there is http://stackoverflow.com/questions/10796905/maven-dependency-for-teradata-jdbc-driver
@sualeh Thank you very much! It works. I found other problem, but here the message is clear : this driver does not support `getFunctions`. It is not important for me and probably it doesn't need a fix, but I think you should know:

<pre>
10:01:01.352 [main] ERROR a.r.b.OnlineDBBrow

[2016-12-20 14:19] sualeh commented on #102
I will fix that issue too. The Teradata JDBC driver does not follow JDBC specifications. It should throw a SQLFeatureNotSupportedException for getFunctions, or at the least a SQLException state HYC00 = Optional feature not implemented. Instead, it throws with a state of HY000 - General error.

[2016-12-21 02:10] #102 closed

[2016-12-21 02:11] sualeh commented on #102
Please use SchemaCrawler 14.11.02

[2016-12-21 12:22] ZidaneT opened #104 "MySQL Driver problem"
Aparrently, when I try to retrieve schema without specifying table inclusion rule, a SQLException occurs:
Table name pattern can not be NULL or empty.
<pre>
13:11:23.998 [main] ERROR a.r.b.OnlineDBBrowserServiceImpl - SchemaCrawler was not able to create a connection.
schemacrawler.schemacrawler.SchemaCrawlerException: Exception retrieving table information: Table name pattern can not be NULL or e

[2016-12-21 17:41] sualeh commented on #104
This is a JDBC driver issue, and SchemaCrawler has no control over this. I would recommend:

1. You use the latest version of the MySQL JDBC driver

1. You use the latest schemacrawler-mysql jar file

1. You explicitly set a table name pattern in your code, like this: `options.setTableNamePattern("%")`

[2016-12-21 17:41] #104 closed

[2016-12-21 23:22] adriens commented on #102
You're right @sualeh : login/pwd required to download...even the readme ;-(

http://downloads.teradata.com/download/connectivity/jdbc-driver

hence i assume they cannot be publicly distributed ...

[2016-12-28 06:40] #87 closed

[2017-01-10 20:03] kazazes opened #105 "Documentation wrong for htmlx output format."
34b13a3 puts the htmlx option under the graph command, when it only works with -command=details, as noted in #92.

[2017-01-11 01:16] sualeh commented on #105
Oops. I will get that fixed.

[2017-01-12 03:27] sualeh commented on #105
Fixed, by removing the graph command completely.

[2017-01-12 03:27] #105 closed

[2017-01-18 00:59] adriens opened #106 "jtds deprecated in favour of mssql-jdbc ?"
Hi @sualeh , i've discoversed that you have switcher from jtds to mssql-jdbc driver.
Can you please confirm me that so i stop jtds distribution in the deb in favour of this latest driver ?

Thank you in advance for your answer. ;-p

[2017-01-18 01:00] adriens opened #107 "Dependencies upgrade"
Hi @sualeh, i'm packaging the deb package and it seems like schemacrawler is late on a few deps :

- derby driver : 10.12.1.1 -> 10.13.1.1
- h2 : 1.4.192 -> h2-1.4.193

[2017-01-18 03:47] sualeh commented on #106
[Adrien](@adriens), that is correct. The jTDS driver has not been updated in years. Microsoft just open-sourced it driver, and it is undergoing active development. It supports newer versions of Microsoft SQL Server. The Microsoft JDBC driver is now distributed with SchemaCrawler, instead of jTDS.

[2017-01-18 03:47] #106 closed

[2017-01-18 03:49] adriens commented on #106
Great, i will package with this one ;-p
Thx for answer.

[2017-01-18 03:54] sualeh commented on #107
I will fix this in the next release. No rush. 😺

[2017-01-18 04:06] #107 closed

[2017-01-25 11:17] EdgelessCube opened #108 "Java-API does not recognize column with unique and foreign key constraint as part of foreign key"
So, i have a column with an unique constraint and a foreign key constraint in Oracle. In the Java-API i use: `column.isPartOfForeignKey() `
It returns false. Why is that ?

Small notice: I also created a GraphViz diagram with SchemaCrawler. There you can see the foreign key relation.

[2017-01-25 15:38] sualeh commented on #108
Please provide more information, in the form of detailed SchemaCrawler logs. Please rerun SchemaCrawler with `-loglevel=ALL`, capture the debug logs, zip that up, and attach to this GitHub issue.

[2017-01-26 11:37] EdgelessCube commented on #108
In my Java-Application i set log level to all with: `applyApplicationLogLevel(Level.ALL)`.

The log which was printed in the console is attached. Is that the right one, or are there other log files created when using the Java-API ? I couldn't find any other information about the logs created when using the Java-API.

For creating the log file i only retrieved the table in which the foreign key is

[2017-01-26 15:23] sualeh commented on #108
Eric, I need some important information from the beginning of the log, which contains details of your classpath and the SchemaCraw;ler options. Can you run from the command-line, and send me that information?

[2017-01-27 02:02] sualeh commented on #108
Eric, since it looks like you are coding your own Java application, in addition, please also send me your code, so I can take a look. In your code, please `CommandLineUtility.logSystemProperties();`, and send me the log with that information.

[2017-01-27 09:33] EdgelessCube commented on #108
So, i've run schemacrawler from the command-line. Not sure if this log is useful, since i'm running schemacrawler from a java-application and my local installation of schemacrawler is an older version. But here it is anyway: [schemaCommandLine.txt](https://github.com/sualeh/SchemaCrawler/files/734775/schemaCommandLine.txt)

I also used `CommandLineUtility.logSystemProperties();` and ran the java-a

[2017-01-27 13:23] sualeh commented on #108
You have edited out the output of `logSystemProperties()`, so I cannot tell what is going on.

Here are some recommendations:
1. Ensure that `schemacrawler-oracle-14.10.01.jar` is on your classpath
2. Remove the following lines of code, and rerun
[code]

Let me know if that helps, and we can go forward from there.

[2017-01-27 13:40] EdgelessCube commented on #108
Sorry, uploaded the wrong file. Here is the log with the logged system properties: [schemaJavaRun.txt](https://github.com/sualeh/SchemaCrawler/files/735330/schemaJavaRun.txt)
I also edited my previous comment.

 In Java i use a newer version of schemacrawler. I think the jar in in my classpath, since i use the maven repository and in the log you can see: `C:\Users\exampleUser\.m2\repository\us\fat

[2017-01-27 15:00] sualeh commented on #108
Please include `schemacrawler-oracle-14.14.01.jar` on your classpath also, as I mentioned earlier.

[2017-01-27 17:25] ercasta opened #109 "Cannot exclude columns in offline mode"
I have a script that generates a set of diagrams. Right now, for each diagram the script is connecting to the database, extracting the information and generating the diagram.
To speed it up, I tried to convert the script by first extracting database information once, with `-c=serialize -o=my_db.xml` and then running individual commands against the extracted database.

However, the `-excludecolumns

[2017-01-27 17:30] sualeh commented on #109
Yes, `-excludecolumns` is applied during schema extraction. During diagram generation, use `-grepcolumns`.

[2017-01-27 17:30] #109 closed

[2017-01-30 08:49] EdgelessCube commented on #108
Hello Sualeh, i've added the jar to the classpath. However, the foreign key is still not recognized. I've tried with `schemacrawler-oracle-14.14.01.jar` and `schemacrawler-oracle-14.10.01.jar`. I've also run the application with the lines removed, as you mentioned. No success.

[2017-01-30 13:53] sualeh commented on #108
Eric, I am not able to help much with the edited logs that you have sent me. From the data that you have provided, it looks like there are no foreign keys defined in your database. Please run the following SQL statement to verify: [FOREIGN_KEYS.sql](https://github.com/sualeh/SchemaCrawler/blob/master/schemacrawler-oracle/src/main/resources/oracle.information_schema/FOREIGN_KEYS.sql).

[2017-01-30 13:57] sualeh commented on #108
Also, please use the latest Oracle JDBC driver, since you are using Oracle JDBC driver 11.2.0.4.0 against database Oracle Database 12c Enterprise Edition Release 12.1.0.2.0, which could possibly cause issues too.

[2017-01-31 11:02] EdgelessCube commented on #108
What data do you need exactly in the logs ? Apart from the system properties and the data related with the tables with the not-recognized foreign key ? I only removed the data not related to "BULKIMPORTERROR".

I've run your SQL statement, the foreign key `FK_BIPERR_BIPCTL_01` is found:
![image](https://cloud.githubusercontent.com/assets/21304633/22461695/91ce9102-e7aa-11e6-8edb-48aae5fec3fc.png)

[2017-01-31 11:42] EdgelessCube commented on #108
Sualeh, i was able to reproduce the issue in a new database with only the `BULKIMPORTERROR` and `BULKIMPORTPROCESSCONTROL` table. Could you try to reproduce it ?

Simply create a new database user and execute the following sql-statements: [schemacrawler_error_testdb.txt](https://github.com/sualeh/SchemaCrawler/files/741829/schemacrawler_error_testdb.txt)

Than use schemacrawler in java and try to

[2017-01-31 13:44] sualeh commented on #108
I will take a look.

[2017-02-01 03:29] sualeh commented on #108
I was not able to reproduce the issue. Everything works perfectly. Please take a look at the code below. The output from the code is:

[code]

and the diagram is
![issue108](https://cloud.githubusercontent.com/assets/58572/22494348/c5ee8c30-e804-11e6-99ab-fb980f0892b7.png)

Code:
<script src="https://gist.github.com/sualeh/75c52e91bd794d01c21600b995e5fab7.js"></script>

[2017-02-01 03:29] #108 closed

[2017-02-01 13:35] EdgelessCube commented on #108
Interesting... I used your code and i get a different result:

[code]

So the problem is my machine. Any idea what could cause the problem ?

I'll run the code again on another machine. I'll tell you the results.

[2017-02-01 14:03] sualeh commented on #108
Start from the basics: What operating system are you using (including version number), what version of Java, what database server version, and JDBC driver version? What version of SchemaCrawler are you using, and are you sure you have the latest version of the SchemaCrawler Oracle jar file? Are you using the same database user to create the schema as you are using to run SchemaCrawler? Are there a

[2017-02-01 17:40] sualeh commented on #108
(Using a new machine is not going to guarantee that this will work. First, please make sure that you have consistent versions of everything, including database users and permissions.)

[2017-02-05 16:12] artur-tamazian opened #110 "Is it possible to get 'enum' column possible values?"
I was trying to do it in mysql 5.6. I've got a column with type 'ENUM', but can not find its possible values.

Column definition is similar to this:
type ENUM('TYPEA', 'TYPEAB', 'TYPEC') NOT NULL;

[2017-02-05 16:22] sualeh commented on #110
I will take a look. Meanwhile, please see if you get anything from `column.getAttribute("COLUMN_TYPE");`

[2017-02-05 17:34] artur-tamazian commented on #110
Just tried - there's no such attribute.
Thanks for a quick reply!

[2017-02-07 01:59] sualeh commented on #110
![](https://github.trello.services/images/mini-trello-icon.png) [https://github.com/sualeh/SchemaCrawler/issues/110](https://trello.com/c/lwhvOsjN/249-https-github-com-sualeh-schemacrawler-issues-110)

[2017-02-07 14:31] sualeh commented on #110
I will take a look.

[2017-02-08 01:58] #110 closed

[2017-02-08 02:00] sualeh commented on #110
[Artur](@artur-tamazian), please use the next version of SchemaCrawler, with `-infolevel=maximum`. You will get the enum values from `column.getAttribute("COLUMN_TYPE");`. If you want them as an array, you will need to parse the data that MySQL gives you in that attribute.

[2017-02-08 09:08] artur-tamazian commented on #110
Thanks a lot!
Do you know when will the next version be available in maven central?

[2017-02-09 01:34] sualeh commented on #110
Please use 14.14.02 from Maven Central.

[2017-02-14 14:33] sualeh opened #112 "SQLite graph creation issue"
_From @maxg2k on February 14, 2017 7:2_

Hi I'm getting the following error.  Any idea?

Feb 14, 2017 6:44:09 AM us.fatehi.commandlineparser.CommandLineUtility logSafeArguments
INFO: SchemaCrawler, v14.14.01
Feb 14, 2017 6:44:09 AM us.fatehi.commandlineparser.CommandLineUtility logSafeArguments
INFO: Command line:
-server=sqlite
-user=
-password=*****
-database=/share/tasks.db
-tabletypes=TABLE
-i

[2017-02-14 14:35] sualeh commented on #112
@maxg2k I have not seen this issue before - please could you email `/share/tasks.db` to me at sualeh@hotmail.com?

[2017-02-15 03:56] sualeh commented on #112
Max,

[The **graph** command was removed in 14.14.01](http://sualeh.github.io/SchemaCrawler/changes-report.html). Please re-run with the following command-line, and let me know if it works:

[code]

Sualeh.

[2017-02-15 03:56] #112 closed

[2017-02-15 05:00] maxg2k commented on #112
I did try the PDF command, albeit with user and password blanks provided inline, as below. But no luck.  The PDF files got generated but they are blank... (find attached)

Command I ran:
./schemacrawler.sh -server=sqlite -user= -password= -database=/share/tasks.db -infolevel=maximum -command=details -routines= -tabletypes=TABLE -outputformat=pdf
[sc.8rks8k3v.pdf](https://github.com/sualeh/SchemaCr

[2017-02-15 05:17] maxg2k commented on #112
tried another command without -outputformat=pdf switch and got the details into a text file successfully.

**./schemacrawler.sh -server=sqlite -user= -password= -database=/share/tasks.db -infolevel=maximum -command=details -routines= -tabletypes=TABLE**

But I'm looking for ER Diagram generation using GraphViz...  So that's no longer possible with v14.14.01 ?

[2017-02-15 13:22] sualeh commented on #112
I can see the E-R diagram with all of the tables in your PDF files. What PDF file viewer are you using?

[2017-02-17 00:17] sualeh commented on #112
Please make sure that you have read the [SchemaCrawler diagramming](http://sualeh.github.io/SchemaCrawler/diagramming.html) notes.

[2017-02-23 02:44] sualeh commented on #104
Please make sure to use the correct MySQL database connection URL, following the documentation on [Driver/Datasource Class Names, URL Syntax and Configuration Properties for Connector/J](https://dev.mysql.com/doc/connector-j/6.0/en/connector-j-reference-configuration-properties.html)

In particular, you need to set
`nullNamePatternMatchesAll=true`

[2017-02-23 04:02] sualeh commented on #110
You can use `schemacrawler.server.mysql.MySQLUtility.getEnumValues(Column column)` to parse MySQL enum values for a column.

[2017-03-01 17:51] kalusalu opened #114 "SchemaCrawler - using Lint and Oracle DB"
Hi, I am running a standard schemacrawler command with Lint to see the design issues that would be present in our current DB.  I am running it against Oracle 11c and it appears to have connect to the schema but I am being presented with a couple of 'Errors" when running the following:

C:\schemacrawler14\schemacrawler-14.14.03-main\_schemacrawler>schemacrawler.cmd -user=test -password=test -server

[2017-03-01 20:21] sualeh commented on #114
Karim, please run the following command, and send me the logs as well as the output.

[code]

[2017-03-03 13:56] sualeh commented on #114
This issue has been taken offline, since the submitter cannot share the logs online.

[2017-03-03 13:56] #114 closed

[2017-03-06 16:57] morenoh149 opened #115 "Error: Could not find or load main class schemacrawler.Main"
I'm following the cross-platform installation instructions on osx

I downloaded the latest .zip from the releases page. And do
[code]
what did I miss?

The contents of `schemacrawler.sh` are
[code]

My best guess is I need to place the necessary .jar files somewhere. Where should I place `schemacrawler-14.14.03.jar` and `schemacrawler-postgresql-14.14.03.jar`?

[2017-03-06 17:13] sualeh commented on #115
Please take a look at a solution from @David-Guillot - https://gist.github.com/David-Guillot/dd53227141fd62ff5db6ef23c929f7b1

[2017-03-06 17:13] #115 closed

[2017-03-06 17:16] morenoh149 commented on #115
@sualeh what is the root of the motivation to not make this the default? the instructions suggest as long as schemacrawler is in the path it should work fine. What is the "correct" location to place schemacrawler?

[2017-03-06 17:18] morenoh149 commented on #115
Using the .sh file in the gist returns
[code]

[2017-03-06 17:30] sualeh commented on #115
Try this:
[code]

[2017-03-06 17:32] morenoh149 commented on #115
that works :)

[2017-03-06 17:32] sualeh commented on #115
Great!

[2017-03-06 17:34] sualeh commented on #115
@morenoh149 - The root motivation not to make this a default is that there there is no real installer for SchemaCrawler, other than unzipping a zip file. I do not want to write an installer at this point. If there is no installer, people are free to move the SchemaCrawler folder to any location. At that point, they are responsible for writing their own commands, based on @David-Guillot GitHub Gist

[2017-03-19 18:56] sstano opened #116 "No tables retrieved for a schema"
I'm trying to export a schema from MSSQL database using SchemaCrawler & jTDS driver (version 1.3.1) with following command:

[code]

- The DB server (should) be Microsoft Windows Server 2012 R2 Standard.
- DB tables are under a default schema named after the user (incl. Windows domain) "DOMAIN\user".
- The connection URL and regex to match the schema work fine - when I launch the Database Manager

[2017-03-20 02:32] sualeh commented on #116
SchemaCrawler leverages the JDBC driver's built-in functionality to retrieve tables, so I cannot say what query jTDS is using.

1. How many schemas were retrieved, and what was the name of the schema that you are interested in? Was that schema filtered out?
2. Please try this command-line out:
[code]
3. See if there a different result using the official [Microsoft JDBC driver](https://github.com/M

[2017-03-20 16:48] sualeh commented on #116
Internally, both the [jTDS JDBC driver](https://github.com/nikgoodley-ibboost/jTDS-branches/blob/master/jTDS%201.3%20(stable)/src/main/net/sourceforge/jtds/jdbc/JtdsDatabaseMetaData.java#L1809) and official [Microsoft JDBC driver](https://github.com/Microsoft/mssql-jdbc/blob/master/src/main/java/com/microsoft/sqlserver/jdbc/SQLServerDatabaseMetaData.java#L485) use `sp_tables`.

[2017-03-21 03:13] shantstepanian opened #117 "Correcting the license information published in Maven central for us.fatehi:schemacrawler to show EPL 1.0 like it does in the code"
Hi, I'd like to leverage schemacrawler for an Apache-licensed product, which means I'd want to use SchemaCrawler via the EPL 1.0 license (it is also licensed under GPL and LGPL)

I see that the Maven poms do link to EPL 1.0:
- https://github.com/sualeh/SchemaCrawler/blob/v14.14.04/pom.xml (parent pom has the license link)
- https://github.com/sualeh/SchemaCrawler/blob/v14.14.04/schemacrawler/pom.x

[2017-03-21 19:54] sualeh commented on #117
[Shant](@shantstepanian), good to hear from you. I will fix this discrepancy. Are you referring to the [reladomo](https://github.com/goldmansachs/reladomo) project?

[2017-03-21 21:51] shantstepanian commented on #117
Great, thanks!

No, not that project, but another one that will hopefully come soon into that same GitHub area

[2017-03-22 02:08] #117 closed

[2017-03-22 15:49] sualeh commented on #117
[Shant](@shantstepanian), I have fixed the licensing in SchemaCrawler 14.05.01.

[2017-03-22 16:13] shantstepanian commented on #117
Thanks. I see it fixed for schemacrawler,  db2, Oracle, and Sybase IQ

I still see hsqldb, postgresql, and sqlserver as GPL. The underlying drivers are BSD, BSD, and MIT license, respectively. Is it possible to change those as well? I'm not aware of the license compatibilities, though BSD and MIT are permissive

(We aren't yet using other distributions not named above, so I can't comment yet on wh

[2017-03-23 00:59] shantstepanian opened #118 "Fixing licensing for hsqldb, postgresql, and sqlserver modules"
Followup from issue #117 - I saw the licenses fixed for schemacrawler, db2, Oracle, and Sybase IQ

However, I still see hsqldb, postgresql, and sqlserver as GPL. The underlying drivers are BSD, BSD, and MIT license, respectively. Is it possible to change those as well? I'm not aware of the license compatibilities, though BSD and MIT are permissive

(We aren't yet using other distributions not name

[2017-03-23 00:59] shantstepanian commented on #117
I've opened a new issue #118 as I see this issue was closed out

[2017-03-23 02:20] #118 closed

[2017-03-23 02:32] sualeh commented on #118
[Shant](shantstepanian), I have clarified the
[licensing](http://sualeh.github.io/SchemaCrawler/license.html) terms. I will release a new version of SchemaCrawler with the jar files updated with the latest POMs.

[2017-03-23 09:00] sstano commented on #116
Hi, thanks a lot for digging into this.

Regarding your 1st point, quite a lot schemas were found in the DB, actually. I tried to play around with it and it seems that the problem is because of the backslash in the schema name. I got the desired schema included by the filter when I used .(dot) in the schema regex where the backslash is:

[code]

However, no tables are found.

If I didn't want to u

[2017-03-23 12:07] sualeh commented on #116
Can you try with the latest Docker image? It is distributed with the official Microsoft JDBC driver. Also, please send me detailed instructions on how to set up a user and schema like the one you have, and I will try to reproduce on Amazon RDS.

[2017-03-24 01:12] sualeh commented on #116
Ok, I have this (see screenshot), but I cannot connect using
`jdbc:jtds:sqlserver://localhost:1433;instance=SQLEXPRESS;useNTLMv2=true;domain=THOTH;user=Sualeh Fatehi;password=xxxxx` Please help me connect, so I can reproduce your issue.

![untitled](https://cloud.githubusercontent.com/assets/58572/24276445/30289868-100d-11e7-9a7a-32e297be3aec.png)

[2017-03-24 02:59] sualeh commented on #116
Ok, I was able to connect, using `jdbc:jtds:sqlserver://localhost:53665;useNTLMv2=true;domain=THOTH;user=Sualeh Fatehi;password=xxxxx` - the `instance` parameter did not work for me.

I have reproduced the issue. Basically, when jTDS sees `DOMAIN\user`, it internall escapes it to `DOMAIN[u]ser` before calling `sp_tables`. I am looking to see how the Microsoft SQL Server JDBC Driver escapes that sc

[2017-03-24 03:08] sualeh commented on #116
I confirmed that the [Microsoft JDBC Driver for SQL Server](https://github.com/Microsoft/mssql-jdbc) that is distributed with the latest version of SchemaCrawler does not have same the escaping issue that jTDS. I was able to get output from the Microsoft JDBC Driver for SQL Server.

[2017-03-24 03:11] adriens commented on #116
On the debian and rpm installers, i have switched to ```mssql-jdbc-6.1.0.jre8.jar`` and removed ```jtds``` .
Did you take a look to the latest pre-release (https://github.com/Microsoft/mssql-jdbc/releases/tag/v6.1.5) ?

[2017-03-24 03:14] sualeh commented on #116
[Adrien](@adriens), as always, thanks for keeping the Debian and RPM installers up to date. Yes, I have taken a look at the pre-release, and will upgrade once the release is final. [Microsoft JDBC Driver for SQL Server](https://github.com/Microsoft/mssql-jdbc) v6.1.0 is working as expected with SchemaCrawler.

[2017-03-24 03:17] adriens commented on #116
```v6.1.0 is working as expected with SchemaCrawler.``` : that's all i wanted to hear ;-D

[2017-03-24 04:22] shantstepanian commented on #118
Thanks! Confirming that the licensing looks fine now

[2017-03-24 11:46] sstano commented on #116
Is there any chance it could also be fixed for jTSD driver? I'm having issues connecting with the MS JDBC driver from my Mac. I need to use Windows authentication with a specific user domain and only jTDS was able to get it right.

[2017-03-25 02:39] sualeh commented on #116
I can see three possible options to help you:
1. Patch jTDS - This is not a great option, since the source has not been updated since a few years. It may be risky to make a patch.
2. Fix the Microsoft JDBC Driver for SQL Server - The official driver should support conecting to Microsoft SQL Server. Please enter an issue on GitHub.
3. Use a SchemaCrawler workaround - I have re-opened this ticket to

[2017-03-28 15:15] sualeh commented on #116
I have a fix ready for you, and I will release a new version of SchemaCrawler in a couple of days. I will also give you instructions on how to modify your SchemaCrawler configuration file to make this work. I had to work-around the jTDS driver schema name escaping issue by scanning all tables and columns in the database, and this will make SchemaCrawler a little slower, but hopefully not very much

[2017-03-29 00:59] sualeh commented on #116
Please use SchemaCrawler 14.15.03. Add the following lines to your `schemacrawler.config.properties` file in the `config/` folder of the SchemaCrawler distribution, and re-run.
[code]

[2017-03-29 00:59] #116 closed

[2017-03-29 07:00] sstano commented on #116
@sualeh Amazing! Thank you so much! I can see the tables in the logs now :) I'll check the generated image once there's a new Docker image available, but I believe it should be fine now. THANKS!!!

[2017-03-29 13:46] sualeh commented on #116
The [SchemaCrawler Docker images](https://hub.docker.com/r/sualeh/schemacrawler/) are available now.

[2017-03-31 03:05] adriens opened #119 "Webiste is stuck on 14.15.02"
Webiste is stuck on 14.15.02 whereas latest version is 14.15.02.

[2017-03-31 03:09] shantstepanian opened #120 "Downgrading to Java 7"
Hi, we'd like to leverage schemacrawler; however, we still have a few products on Java 7.

I'd like to see if you are okay with downgrading back to Java 7 - I can contribute the change if so.

It could also help w/ adoption, lowering the barrier to entry, particularly considering many long-lived enterprise applications that are still on older Java versions that are maintained but cannot be upgrade

[2017-03-31 03:19] adriens commented on #120
Seen on https://java.com/en/download/faq/java_7.xml :

 Java 7 Information
Java SE 7 End of Public Updates Notice

After April 2015, Oracle will no longer post updates of Java SE 7 to its public download sites. Existing Java SE 7 downloads already posted as of April 2015 will remain accessible in the Java Archive on the Oracle Technology Network. Developers and end-users are encouraged to update t

[2017-03-31 03:28] shantstepanian opened #121 "Open Source Contributor Model?"
Do you have an open source contributor model decided upon? This could help w/ clarifying some questions from our side on contributing

You can google search "open source contributor model" for more info. A colleague wrote up this doc with more info (disclaimer - he is not a lawyer)
https://github.com/gs-rezaem/cfgsync/blob/master/tmp/contrib-model.md

[2017-04-02 04:04] #119 closed

[2017-04-03 01:07] adriens commented on #119
:+1:

[2017-04-07 02:34] sualeh commented on #120
Shant, I have made as many changes as I am comfortable in making to maintain some backward compatibility with Java 7. This should help reduce the changes you will need to make when you back-port, and also help merging in future changes.

[2017-04-07 02:34] #120 closed

[2017-04-16 02:44] #121 closed

[2017-04-27 09:41] starbassma opened #122 "is there any way to check if a view is a materialized view"
Hello, i would like to thank you for this library,
i want to know if is there any way to check for materialized views

[2017-04-27 19:40] sualeh commented on #122
I would need more information to answer that question. Please look at [Guidelines for Support](http://sualeh.github.io/SchemaCrawler/consulting.html) for details on what information is needed.

[2017-04-27 21:53] starbassma commented on #122
Thanks for the prompt answer,
When i query the schema object to get the database views it doesn't include materialized views, instead they appear as instance of Table class, it's a bit confusing since we can't distinguish between real tables and materialized views because they are all recognized as instances of Table .
@sualeh
Nb: i'm querying an Oracle 11g2 database.

[2017-04-28 02:42] sualeh commented on #122
You should be able to use a [Data Dictionary View](http://sualeh.github.io/SchemaCrawler/data-dictionary-extensions.html), with a query to `ALL_MVIEWS`.

[2017-04-28 07:12] starbassma commented on #122
@sualeh
Thanks,
Is there any way to configure it pragmatically without editing the configuration file (schemacrawler.config.properties) since i use the api (jar file)

[2017-04-28 15:31] sualeh commented on #122
You can do this in code. You will need to use a DatabaseSpecificOverrideOptionsBuilder and an InformationSchemaViewsBuilder to create DatabaseSpecificOverrideOptions. It may be easier to write a custom version of the [SchemaCrawler - Oracle plug-in](https://github.com/sualeh/SchemaCrawler/tree/master/schemacrawler-oracle), though.

[2017-04-28 16:54] starbassma commented on #122
thank  you

[2017-04-28 16:54] #122 closed

[2017-05-16 03:46] adriens opened #123 "Documentation > How to graph database with jdbc only"
hi @sualeh , i'd like to graph a db2/400 database, from jt400 driver, straight from the jdbc url. Unfortunately i did not find how to provide the driver classname..and get the following stacktrace (complaining that the driver could be found, while it's in the lib dir)

[code]

Would you please have any hint to run successfully this command ? Thanks in advance for your help.

Cheers,

Adrien

[2017-05-16 03:50] adriens commented on #123
current driver : ```jt400-9.3.jar```

I guess it's beacuase the classname is not declared in the jdbc driver...could we force the classname in the cli ?

[2017-05-16 03:51] adriens commented on #123
In the cli help, we did not find the ```-driver=com.ibm.as400.access.AS400JDBCDriver``` switch : is it still available ?

[2017-05-16 04:03] adriens commented on #123
[code]

[2017-05-16 04:34] sualeh commented on #123
@adriens, other people have tried this driver, and it is not JDBC compliant. However, you can load the driver using `-Djdbc.drivers=com.ibm.as400.access.AS400JDBCDriver` as described in [DriverManager](https://docs.oracle.com/javase/7/docs/api/java/sql/DriverManager.html)  javadocs.

[2017-05-16 04:34] #123 closed

[2017-05-16 23:46] adriens commented on #123
Ok thanks for the feedback @sualeh

[2017-05-16 23:51] adriens commented on #123
Juts for info, passig the -D jvm option did not fix the issue

[2017-05-17 01:29] sualeh commented on #123
Bummer.

[2017-05-30 21:46] adriens opened #125 "Upgrade xstream to latest minor version"
Hi @sualeh, xstream has released a latest minor version : ```1.4.10```, would you consider upgrade to this latest version that is in our case: 1.4.9 -> 1.4.10 ?

![xstream](https://cloud.githubusercontent.com/assets/5235127/26606435/9f6e3c04-45dd-11e7-996b-f6c74333a897.png)

[2017-05-31 05:27] #125 closed

[2017-06-06 23:39] cemeyer2 commented on #79
@sualeh are there any plans to support parallelization in the future? I am running schemacrawler on a database schema which has over 50k tables and it takes several hours to complete. Thanks!

[2017-06-07 22:36] adriens commented on #79
Hi @pyrocks , did you try to increase jvm memory options ?

[2017-06-08 03:50] pyrocks commented on #79
Hi,

Well, I'm no longer working in the same place hence not using SchemaCrawler
any more, but I don't think I fiddled with jvm options. You can always try
yourself...

Pyrocks

On Jun 8, 2017 01:36, "SALES" <notifications@github.com> wrote:

[2017-06-11 03:16] sualeh commented on #79
[Charlie](@cemeyer2), no there are no plans to support parallelization in the future. I would recommend that you filter what you are looking for using SchemaCrawler options. You can restrict both the number of objects retrieved, and the amount of metadata retrieved for each object. You have not mentioned which database you are using, but SchemaCrawler is highly optimized for the major databases. Y

[2017-06-13 14:58] hjoukl opened #126 "schemacrawler does not like column name (identifier) quotation with sqlite"
Hi,

really nice tool! Thanks for your work on it.

Here goes:

This sqlite DDL results in output with correct primary key information and markup (bold, italic):
[code]

htmlx output result:

![unquoted](https://user-images.githubusercontent.com/2393913/27088332-a8419978-5057-11e7-839a-70d96d1093ba.PNG)

...while this does not:

[code]
htmlx output result:

![quoted](https://user-images.githubuser

[2017-06-15 01:04] sualeh commented on #126
That is a very interesting bug in the SQLite JDBC driver. However, the good news is that I can work around it in the SchemaCrawler code. I will fix it and release a new SchemaCrawler version.

[2017-06-15 02:50] #126 closed

[2017-06-17 00:02] sualeh commented on #126
Please use SchemaCrawler 14.16.02.

[2017-07-05 21:26] adriens opened #128 "output Lints as csv"
hi Sualeh, is there any proper way to export lint report as csv ? I'd like to play with lint reports from python/R to perform some stats on them ;-p

[2017-07-06 03:20] sualeh commented on #128
I will try to give you some sample code.

[2017-07-06 03:37] adriens commented on #128
Great, thanks @sualeh  !

[2017-07-06 22:19] adriens commented on #128
Should it be developed as a plugin ?

[2017-07-06 22:32] sualeh commented on #128
Yes. Please go ahead and develop a plugin that meets your needs.

[2017-07-06 23:14] adriens commented on #128
OK @sualeh , thanks for your answer, i was not impatient but just wanted to be sure to develop thie feature at the right place ;-p

[2017-07-06 23:14] adriens commented on #128
I guess you can now close this issue ;-p

[2017-07-07 03:00] sualeh commented on #128
Well, I have a better idea. You can try this Gist out! https://gist.github.com/sualeh/8cd3df1d4add9b9391875cc7c79ca6c0

[2017-07-07 03:00] #128 closed

[2017-07-07 23:17] sualeh commented on #128
@adriens - please let me know how the scripting solution works for you.

[2017-07-13 13:51] hryamzik opened #129 "Command hangs and nothing happends"
[code]

This command just never ends with no output. How can I debug this?

P.S.: however pdf was generated an hour later.

[2017-07-14 00:49] sualeh commented on #129
Does the command return without the
'-outputformat=pdf -outputfile=database-diagram.pdf'
options?

[2017-07-14 11:50] hryamzik commented on #129
Started, I'll let you know. Also tried to generate dot file and looks like command returns only some time after I break connection.

[2017-07-14 21:15] cemeyer2 opened #130 "performance issues with file output"
when running on a database schema with 50k tables, the strategy for writing to file is inefficient and causes performance issues. On a particular run, the output from schemacrawler was a single 6.2 gigabyte html file and required over 25 gigabytes of heap in the JVM. Looking at the code, it appears that the entire charsequence is being stored in memory before being serialized out to disk rather th

[2017-07-14 21:15] cemeyer2 commented on #130
label here should be `bug`

[2017-07-15 01:24] sualeh commented on #130
Charlie @cemeyer2, SchemaCrawler holds the entire catalog in memory, and in your case it is big. However, when the file is generated, it is streamed, as far as I can tell. If your analysis shows that in addition to the catalog in memory, the file contents are held in memory too, please point me to that location in code, so I can take a look. Thanks.

[2017-07-15 01:32] sualeh commented on #129
Please first try without the `-outputformat=pdf -outputfile=database-diagram.pdf` options. If that works, you can try with `-outputformat=scdot`.  (**Note:** Not `dot`.)

[2017-07-17 12:46] hryamzik commented on #129
Tried without output options, same behaviour. Closing connection (VPN disconnect) helps.

[2017-07-17 14:54] sualeh commented on #129
You will need to generate debugging information. Please use an additional command-line argument of `-loglevel=ALL`, and send me the logs. Please follow instructions in [Guidelines for Support](http://sualeh.github.io/SchemaCrawler/consulting.html).

[2017-07-17 23:55] adriens opened #131 "Plugin New SchemaCrawler Commands > archetype issue"
Actually, the generation does not generate an out of the compilable project :

![schemacrawler_archetype](https://user-images.githubusercontent.com/5235127/28294599-dc4b4e2a-6ba6-11e7-8e87-d8c32205e4c8.png)

In the archetype, on , could you please add the following code to ```AdditionalCommandProvider.java``` :

[code]

[2017-07-17 23:56] adriens commented on #131
The archetype used was :

[code]

[2017-07-18 00:05] sualeh commented on #131
Do you need a new SchemaCrawler release right now, or can it wait for the next release?

[2017-07-18 00:07] adriens commented on #131
We can wait for the next release, of course !...it really is a very minor issue :smile_cat:

[2017-07-18 00:07] #131 closed

[2017-07-19 13:55] sualeh commented on #130
Charlie @cemeyer2, please follow the guidelines on [SchemaCrawler Support and Consulting](http://sualeh.github.io/SchemaCrawler/consulting.html). Thanks.

[2017-07-19 13:55] #130 closed

[2017-07-19 13:55] sualeh commented on #129
Roman, @hryamzik - I am still waiting for your logs.

[2017-07-19 23:30] adriens commented on #128
Also done with csv plugin see https://github.com/adriens/schemacrawler-csv-plugin

[2017-07-19 23:41] adriens opened #132 "Github website not up to date (still on 14.16.02 instead of 14.16.03)"
Website is stuck on the following version :

[code]

![scversion](https://user-images.githubusercontent.com/5235127/28394283-8f3dab90-6d37-11e7-8b57-f9f744ab6267.png)

[2017-07-20 01:52] sualeh commented on #128
👍 My favorite line is [the one that gives you mints](https://github.com/adriens/schemacrawler-csv-plugin/blob/master/src/main/java/com/github/adriens/AdditionalCommandProvider.java#L15)!

[2017-07-20 02:03] adriens commented on #128
Fixed, ths @sualeh

[2017-07-20 02:03] #132 closed

[2017-07-20 02:04] sualeh commented on #128
I liked it better when you got mints! I like mints. ;-)

[2017-07-20 02:05] adriens commented on #132
:+1:

[2017-07-20 02:14] adriens commented on #128
For sure, tastes much better !

[2017-07-20 10:37] hryamzik commented on #129
Tried twice, once with no otput and then with PDF generation, both time succeed in 1.5 hours. Not sure if logging affects behaviour but I can't reproduce hanging with them. Thanks!

[2017-07-20 10:37] #129 closed

[2017-07-28 20:58] rowet opened #133 "Crash on use of view using recursive table"
$ cat crash.sql
[code]

$ sqlite3 crash.db < crash.sql
$ sh schemacrawler.sh -server=sqlite -database="crash.db" -infolevel=maximum -loglevel=CONFIG -password= -command=schema -portablenames -outputformat=pdf -outputfile="crash.pdf"
...
[code]

[2017-07-28 21:31] sualeh commented on #133
Please replace the version of the [SQLite Xerial JDBC driver jar file with the latest version, 3.19.3](https://mvnrepository.com/artifact/org.xerial/sqlite-jdbc/3.19.3). Delete the old version of the jar in the `/lib` folder. Re-run SchemaCrawler with an additional `-routines=` command-line argument.

[2017-07-28 21:36] rowet commented on #133
That fixes it. Without the additional -routines= parameter it fails with: "Error: Exception retrieving routine information: Cannot use null results"

[2017-07-28 21:36] #133 closed

[2017-07-28 21:37] sualeh commented on #133
I will not fix this issue, since the latest version of the SQLite Xerial JDBC driver does not support features required for SchemaCrawler, such as getting primary key columns, and also reports inaccurate metadata. Please use the workaround when you need to.

[2017-07-28 21:38] rowet commented on #133
Works fine for my purposes as is. Thanks!

[2017-07-28 21:40] sualeh commented on #133
Glad to help.

[2017-08-14 23:09] adriens opened #134 "Typo on "who uses" page"
![2017-08-15 10_07_35-schemacrawler - who uses schemacrawler](https://user-images.githubusercontent.com/5235127/29295751-c2798dde-81a1-11e7-8427-ba4561f8d0e1.png)

[2017-08-15 03:25] sualeh commented on #134
Thanks. Fixed now.

[2017-08-15 03:25] #134 closed

[2017-09-18 18:17] biotemon opened #136 "SEVERE: Exception retrieving table information: null"
Hi all,

SchemaCrawler was working perfectly but after a couple of updates in my database, I crashed on this error. Any ideas to solve this?

Thanks

[code]
Here is the output.

[code]

[2017-09-19 11:08] #136 closed

[2017-09-25 03:02] shantstepanian opened #137 "Reason for AUTHID clause in Oracle ROUTINES.sql file"
Hi, when using SchemaCrawler for Oracle, I found that I wasn't getting back data for routines that I had requested.

The routines were created as a DBO id (i.e. a DBO id created by Amazon RDS for an Oracle instance based in Amazon)

Upon debugging, it was because of this clause:
    PROCEDURES.AUTHID = 'CURRENT_USER'

AUTHID is described as follows: https://docs.oracle.com/cd/E11882_01/server.112/

[2017-09-25 22:19] sualeh commented on #137
I do not see a good reason for this. I will remove it.

[2017-09-26 01:50] #137 closed

[2017-09-27 01:24] shantstepanian commented on #137
Thanks! Regarding a release - I'm still trying out a couple things, so no rush on my end at this time

[2017-09-27 01:52] sualeh commented on #137
I will get the release out on the weekend

[2017-09-30 21:02] sualeh opened #138 "Default to "standard" infolevel"
Make `-infolevel` an optional argument, and default to "standard"

(Idea from @jbr)

[2017-09-30 21:23] sualeh opened #139 "Infer output format from output file name"
Infer output format from output file name.

(Idea from @jbr)

[2017-09-30 21:26] sualeh opened #140 "Filter PostgreSQL system tables by default"
Filter PostgreSQL system tables by default

(Idea from @jbr)

[2017-09-30 21:31] sualeh opened #141 "Create diagram with tables and relationships"
Create diagram with just tables and relationships, not displaying any columns.

(Idea from @jbr)

[2017-10-01 01:18] #140 closed

[2017-10-01 18:26] #138 closed

[2017-10-01 22:51] sualeh commented on #137
Released

[2017-10-02 02:41] sualeh commented on #139
Confirmed that this works already.

[2017-10-02 02:41] #139 closed

[2017-10-03 00:25] sualeh opened #142 "Do not display routines by default"
Do not display routines by default. Most people use `-routines=`.

[2017-10-15 03:18] #141 closed

[2017-10-25 00:43] adriens commented on #141
This kind of think is often provided by sql clients, like OmniDB :

https://github.com/OmniDB/OmniDB

See the section :

![omnidb](https://user-images.githubusercontent.com/5235127/31974879-97ffe48a-b979-11e7-9532-b6d656f445da.png)

[2017-10-26 00:38] sualeh commented on #141
Thanks, @adriens I will see if I can find some time to implement this. I am not sure how useful this kind of diagram would be. If someone needs something like this, a [schemaball](http://mkweb.bcgsc.ca/schemaball/?screenshots) is more fun!

[2017-10-26 00:51] #142 closed

[2017-10-26 00:53] adriens commented on #141
@sualeh  it was to to say that it should be implemented but rather to give an easy way of doing this without having to dev.

shemaball is in fact a graph : i'm pretty sure we could do this with the dot version...and even more with more dedicated graph formats... in fact, theses days we add to generate huge database schemas that were hard to fit in a pdf...and even harder to open the pdf as it was

[2017-10-26 00:57] adriens commented on #141
In fact, at a given level, form i cold experience until now, it's like you add to make a choice between :

- Getting  a nice displayable graph
- Getting a strcuture on which you can query metadatas, relations, groups, aggregations, detect clusters, compute histograms, detect patterns, etc...

[2017-10-26 02:22] adriens commented on #141
Just to know : from your point of view, would you rather focus :

1. - on being able to draw in an aesthetic way larges schema graphs
2. - generate structure you can query

I guess the second option is slightly  more interesting 'cause you can report on it but also (with some additional work) draw it...still the 1st option should be more esthetic and eay to use for end user

What's your opinion ?

[2017-10-26 02:23] sualeh commented on #141
I think #2 also.

[2017-10-26 02:24] sualeh commented on #141
That is why I think your neo4j is a good idea, and sufficient.

[2017-10-26 02:29] adriens commented on #141
Yes, so i have to rework on it ;-p and use bolt instead of write on server side files. It should be easier to use at the end.
From R you can draw some fun things by connecting on neo4J (see https://www.linkedin.com/pulse/non-le-basilic-nest-pas-au-centre-de-la-cuisine-ni%C3%A7oise-adrien-sales/)

[2017-10-27 03:26] adriens commented on #141
Fixed in https://github.com/adriens/schemacrawler-plugin-neo4j/issues/10

[2017-10-27 10:17] celan69 opened #143 "Documentation glitch"
The subsection dealing with additional column attributes has the wrong section heading (probably copy/paste error from the additional table attributes).

See SchemaCrawler/schemacrawler-site/src/site/xdoc/data-dictionary-extensions.xml.

Thanks for your work on SchemaCrawler!

[2017-10-27 22:38] sualeh commented on #143
Thanks, @adriens - I will fix it.

[2017-10-27 22:39] #143 closed

[2017-10-29 21:01] adriens opened #145 "Versioning schema of the schemacrawler artifact is not following Maven rules"
Hi,

to keep up-to date from my projects that depend on schemacrawler i do now user Gemnasium. But due to the -java7 suffix on schemacrawler, it seems like the versioning schema of that artifact is not following Maven rules:

https://maven.apache.org/pom.html#Version_Order_Specification

As you can see, on Maven central the latest version for that artifact is 14.16.04-java7 too:
http://search.mave

[2017-10-29 22:00] sualeh commented on #145
Unfortunately, nothing. Maven has buggy and incomplete support for classifiers. The only way to distinguish between classifiers is to include the classifier as part of the version number. Initially, I tried using a classifier of "java7", but then I could not build javadocs and sources, which are required to upload to the Central Repository.

[2017-10-29 22:00] #145 closed

[2017-10-29 22:01] adriens commented on #145
Damned ;-p

Thanks @sualeh

[2017-11-07 09:27] ewanld opened #146 "[enhancement] Get database object unquoted name"
Hi!

I would like to retrieve only unquoted names for database objects. As far as I understand, names are quoted when they clash with a SQL reserved word but the behavior is not configurable.

To work around the issue I unquote them manually. For instance:
[code]

Would you consider adding an option in SchemaCrawlerOptions to make the behavior configurable (for instance an enum QUOTE_ALWAYS/QUOTE_

[2017-11-07 22:27] adriens commented on #146
You mean a littl ebit like the objectQuotingStrategy on Liquibase ?

[2017-11-08 00:45] adriens opened #147 "README > Stackoverflow badge not well formated"
![stack](https://user-images.githubusercontent.com/5235127/32525808-4b466018-c47a-11e7-87e6-cd1642e0de3d.png)

[2017-11-08 09:01] ewanld commented on #146
Yes the idea is similar to ObjectQuotingStrategy from liquibase

[2017-11-08 12:53] #147 closed

[2017-11-08 12:53] sualeh commented on #146
Good idea. I will see how I can do this.

[2017-11-19 23:38] #146 closed

[2017-11-20 02:34] adriens opened #151 "AdditionalExecutable is not abstract and does not override abstract method executeOn"
Hi @sualeh , since 14.17.01, plugin compilation is fialing with the following message :

Could you give us some guidelines on :

- how to fix our code (plugin development best practive)
- confirm us that the plugin archetype has also been modified to take this new change in account

Thank you in advance for your help, i've provided you the build log in case it could help :

[code]

[2017-11-20 02:37] adriens commented on #151
[code]

[2017-11-20 04:04] sualeh commented on #151
@adriens I will leave this issue open until I can fix the archetype.

For your existing executable, you will need to override
[code]

[2017-11-20 04:11] adriens commented on #151
Thanks @sualeh , i give it a try right now !

[2017-11-20 04:13] adriens commented on #151
Yep, it did the job. :+1:

[2017-11-20 04:13] adriens commented on #151
Did you modify the archetyp with this new signature ?

[2017-11-20 04:14] sualeh commented on #151
No, I am leaving this issue open until I fix the archetype.

[2017-11-20 04:14] adriens commented on #151
Hmm, btw, i gues this is the objects that makes it possbile to user quotingStrategy, right ?

[2017-11-20 04:33] adriens commented on #151
Impressive support performances : "adriens opened this Issue 2 hours ago " :smile_cat:

Have a nice week !...and thanks for the release ! :rocket:

[2017-11-21 00:30] sualeh commented on #151
@adriens - I am solving this another way, by not changing the original API for executables. Please wait for the next release.

[2017-11-21 00:36] adriens commented on #151
Ok, i'm waiting for this.

[2017-11-21 00:43] sualeh commented on #151
Sorry for breaking this 👎

[2017-11-21 00:44] adriens commented on #151
No problem, i'm happy to be source of enhancement as bêta tester ;-p This a pretty cool collaboration process :+1:

[2017-11-21 04:16] sualeh commented on #151
Fixed in SchemaCrawler 14.17.02.

[2017-11-21 04:16] #151 closed

[2017-11-21 20:33] sualeh opened #152 "Create shell script for running SQLite diagram"
Create shell script for running SQLite diagram for beginners. It should just take a SQLite database filename.

[2017-11-22 20:08] yamass opened #153 "Make the typeMap used by RetrievalConnection customizable"
# Context
[RedG](https://github.com/btc-ag/redg) uses SchemaCrawler to extract information about the corresponding Java data types for columns. (and for many other things, too - thanks, by the way!!)

# Problem
H2 returns `null` for `Connection.getTypeMap()`. Therefore, `RetrievalConnection.typeMap` falls back to `schemacrawler.utility.TypeMap#createDefaultTypeMap()`.

However, we need to get the

[2017-12-07 10:10] mdewilde opened #154 "Programmatically diff databases against master file"
We find ourselves with the following use case: we'd like to diff databases against a master schema.
We have a variety of instances running on databases that are not mutually accessible, as they are located in different data centers behind firewalls. A variety of reasons make even SSH tunnelling impossible.

The intuitive approach seems be to generate the schema on one master database, and load and

[2017-12-07 21:02] adriens commented on #154
Hi, why not using liquibase for that ?

[2017-12-08 04:55] sualeh commented on #154
@mdewilde Marceau, please read the SchemaCrawler website thoroughly, including reviewing the code on [the code examples page](https://sualeh.github.io/SchemaCrawler/code-examples.html). This will show you how to generate JSON. Just rename the output file with a `.json` extension.

JSON is not the best way to create an in memory Java object model. You should look at the [offline snapshots functiona

[2017-12-08 04:55] #154 closed

[2017-12-10 05:25] #153 closed

[2017-12-10 06:56] yamass commented on #153
Excellent! Thank you.

[2017-12-10 22:10] sualeh commented on #153
You're welcome. Please use SchemaCrawler 14.17.04.

[2017-12-27 13:06] alihassanm62 opened #155 "when i click to download. it shows 404. page not found."
# Environment

## Specify the version of SchemaCrawler that you are using

## Specify the version of Java that you are using

## Specify the operating system and version that you are using

## Specify the relational datavase and version that you are using

## Specify the JDBC driver and version that you are using

# Issue

## Please explain the issue briefly

## Provide the steps that you took to

[2017-12-27 15:28] sualeh commented on #155
What are you clicking?

[2017-12-28 14:36] #155 closed

[2017-12-29 03:41] #152 closed

[2017-12-29 04:52] sualeh opened #156 "Suppress foreign key names where databases allow blank names"
Suppress foreign key names in output, since databases such as SQLite allow blank names.

[2017-12-29 04:53] sualeh opened #157 "Add unit test for SQLite temporary tables"
Add unit test for SQLite temporary tables.

[2018-01-04 04:29] #156 closed

[2018-01-04 05:24] #157 closed

[2018-01-07 03:40] sualeh opened #158 "Hide IBM DB2 hidden columns by default"

[2018-01-07 03:41] #158 closed

[2018-01-29 09:13] BloodNoteII opened #159 "How to get oracle stored procedure"
# Environment

 SchemaInfoLevel level = SchemaInfoLevelBuilder.detailed();
		options.setSchemaInfoLevel(level);
		options.setRoutineInclusionRule(new IncludeAll());
		options.setColumnInclusionRule(new IncludeAll());
	        options.setTableInclusionRule(new IncludeAll());
		options.setSequenceInclusionRule(new IncludeAll());
  for (final Schema schema: catalog.getSchemas()){
		 for (final Routin

[2018-01-29 13:23] sualeh commented on #159
Please run SchemaCrawler from the commnd-line, obtain logs using `-loglevel=ALL` and attach the logs to this issue.

[2018-01-30 09:10] #159 closed

[2018-02-01 08:12] jewway opened #160 "How to get column and table information by SQL script"
# Environment
SchemaCrawler version: 14.16.04
Java version:  8
OS : Wwindows
Database: MS SQL
JDBC Driver : sqljdbc42

# Issue
I use `SchemaCrawlerUtility.getResultColumns(rs)` to retrieve all column information but i can't use `column.getParent()` to get any table information by column.

![image](https://user-images.githubusercontent.com/3501899/35667831-0118af90-076a-11e8-8b87-bf5412ebe32d.png)

[2018-02-02 10:46] uppalabharath opened #161 "Routines not fetched for Oracle DB"
# Environment
Windows
schemacrawler-14.18.01-distribution
Database: Oracle 11g
Driver: ojdbc6
# Issue
The schema crawler unable to fetch routines like Procedures and Functions.

The log trace is as follows

[code]
But the crawler is able to fetch the other info like tables and columns

Command Used:
[code]

[2018-02-03 02:25] sualeh commented on #160
What happens? Do you get an exception? What is the SELECT statement for your ResultSet?

[2018-02-03 22:35] #161 closed

[2018-02-04 21:04] sualeh commented on #160
@jewway Unfortunately, the JDBC driver does not return the table data. Please file a bug/ enhancement request with Microsoft, at [mssql-jdbc](https://github.com/Microsoft/mssql-jdbc).

[2018-02-04 21:04] #160 closed

[2018-02-05 04:48] sualeh commented on #161
Please use SchemaCrawler 14.19.01.

[2018-02-06 02:57] uppalabharath opened #162 "TABLE_COLUMNS.sql not working for Oracle 11g"
# Environment

# Issue

The table_columns.sql query is added with a new column named IDENTITY_COLUMN that is specific to Oracle 12c DB. As the column is missing in older versions of Oracle DB, the query fails with an ora 00904 invalid identifier error.

My 2 cents:  Try to hit the 12c Query first if it fails, fallback to the older query where 'NO' as is_autoincrement is used in place of IDENTITY_C

[2018-02-06 03:23] sualeh commented on #162
Thanks . Oracle 11g has ended its support lifetime. Oracle 12c was introduced in 2013. SchemaCrawler will not support Oracle 11g. I understand that your organization may still be using Oracle 11g, though.
You may need to write your own plugin for SchemaCrawler, or see if you can use DatabaseSpecificOverrideOptionsBuilder to change the table column retrieval strategy.

[2018-02-06 03:23] #162 closed

[2018-02-10 02:13] schemacrawler opened #163 "Support pure Java Graphviz engine"
Support pure Java Graphviz engine, so that Graphviz does not need to be installed
https://github.com/nidi3/graphviz-java

[2018-02-10 02:24] sualeh commented on #163
![](https://github.trello.services/images/mini-trello-icon.png) [Support put Java Graphviz engine](https://trello.com/c/XDODl6G2/350-support-put-java-graphviz-engine)

[2018-02-10 02:27] sualeh commented on #163
[code]

[2018-02-12 23:18] adriens commented on #163
WOW, thanks for pointing this java port !!! It opens a wide set of possibilities around graphs. For now, i could ony user Gephi sdk to draw complexe graphs i pure java.

[2018-02-14 23:10] suntong opened #164 "Connecting to SQL Server"
From https://github.com/sualeh/SchemaCrawler/issues/90

So I did it,

[code]

Anything wrong with my jTDS URL?
Can you give me a working jTDS URL sample please?
Thx!

[2018-02-14 23:22] suntong commented on #164
I tried to add `domain=[DomainName];` to above url and it is still not working either.

BTW, It is not the password problem, I've double-checked it.

From this,

`WARNING: Database user is not provided`

it seems that the whole `domain=[DomainName];user=[username];password=[password]` was not correctly passed to whatever is anticipating it.

[2018-02-15 00:56] sualeh commented on #164
SchemaCrawler is not distributed with the jTDS JDBC driver any more - please see the following message in your log:
`Error: Could not find a suitable JDBC driver`

SchemaCrawler comes bundled with the [Microsoft JDBC Driver for SQL Server](https://github.com/Microsoft/mssql-jdbc). Please contact Microsoft for support with this JDBC driver.

[2018-02-15 00:56] #164 closed

[2018-02-15 15:02] suntong commented on #164
k. thx.

well, the only reason I look into the old issue archive is that the suggested method in doc didn't work for me. here are the details:

[code]

Maybe the http://www.schemacrawler.com/database-support.html, at least the
`-server=sqlserver -host=localhost -port=1433 -database=schemacrawler -schemas=schemacrawler.dbo -user=schemacrawler -password=schemacrawler` part, should be corrected.

[2018-02-20 22:49] shantstepanian opened #165 "Slowness for retrieving DB2 columns for a single table, and question on MetadataRetrievalStrategy.metadata_all"
Environment:

SchemaCrawler version 14.16.04-java7 on Java 7
Running on Linux against DB2 10.5 and JDBC driver version 3.4.65 - 9.1

Please explain the issue briefly

Crawl for DB2 table metadata for a single table takes a long time as we are querying for all columns no matter what.

It is going via the TableColumnRetriever.retrieveColumnsFromMetadataForAllTables as we specify metadata_all for the

[2018-02-21 08:58] mauringhio opened #166 "Enhancement request: add support for sqlserver extendedproperties and alike"
Hi there,
I am proposing you this feature: integrate sqlserver extendedeproperties and alike (oracle comment) in the generated schema documentation.
How difficult would it be to implment this? If you wish not to do that would you at least give me some pointers on how to implment it?

[2018-02-25 23:28] sualeh commented on #165
I tested against a large DB2 schema, and found that `MetadataRetrievalStrategy.metadata_all` was faster. However, I can see that `MetadataRetrievalStrategy.metadata` would be faster for subsets of tables. I was under the impression that this can be changed using the config file. I will have to see if it is possible to override using the config file or code. Let me write some test code for that.

[2018-02-26 03:24] shantstepanian commented on #165
It would probably be best to make this overrideable via code, as the right value to use depends on whether you are searching for all tables or just a subset. We ran into this issue for Oracle as well (using the data_dictionary MetadataRetrievalStrategy was slower for a small subset of tables on a large database).

As of now, we are fine as we are overriding the value appropriately when doing a que

[2018-02-28 09:11] gpnick67 opened #167 "Error convert oracle datatype in datatype java.sql (java.sql.bit)"
# Environment

Schema Crawler verrsion 14.19.01
JDK: jdk1.8.0_112
O.S Windows 10
RDBMS : Oracle 11gR2
JDBC version: ojdbc7.jar

# Issue

Sorry for my english !👎
SchemaCreawler return java.sql.bit for all columns that I have create with this datatype Oracle :
Decimal
Numeric
Integer
Smallint

Create this table:
[code]

After connet to database oracle with this code:
[code]

[2018-03-01 01:58] sualeh commented on #167
Please use the following code to solve your issue.

<script src="https://gist.github.com/sualeh/97ae60a0d8f7a0a8d47bc1f42669421d.js"></script>

[2018-03-01 01:58] #167 closed

[2018-03-01 09:39] gpnick67 commented on #167
Sorry but I have a error with  https://gist.github.com/sualeh/97ae60a0d8f7a0a8d47bc1f42669421d

This code:
final Catalog catalog = SchemaCrawlerUtility.getCatalog(connection, sco);

return a Null Exception:

Exception in thread "main" schemacrawler.schemacrawler.SchemaCrawlerException: Exception retrieving table information: Cannot use null results
	at schemacrawler.crawl.SchemaCrawler.crawlTables

[2018-03-02 01:19] sualeh commented on #167
@gpnick67 - the issue is that SchemaCrawler works around an Oracle JDBC driver bug. SchemaCrawler only works with Oracle 12c and higher. The code I gave you uses the SchemaCrawler workaround, but does not work with Oracle 11g. The code you wrote does not use the SchemaCrawler workaround, so the Oracle JDBC driver bug is present.

The solution for you is to upgrade to a newer Oracle version if poss

[2018-03-02 13:27] sualeh commented on #167
Or, you can use an older version of SchemaCrawler.

[2018-03-03 02:34] adriens opened #168 "Classpath enhancement on schemacrawler.cmd > Windows install could work much better"
# Environment

# Issue

In fact, i wanted to install it the same way i do with ant, maven, fop, .... At the end, i'll be able to run the command line from any dir.

1. Unzip the schemacrawler distribution in a local directory
2. Create an env variable (let's say ```SC_HOME```) that targets schemacrawler dir ```_schemacrawler```
3. Add ```SC_HOME``` to your PATH
4. Open a new DOS session and run ``

[2018-03-03 02:36] adriens commented on #168
If, instead of the current code :

`@java -classpath lib/*;config;. schemacrawler.Main %*`

you put this one :

`@java -classpath %~dp0/lib/*;%~dp0/config;. schemacrawler.Main %*`

the classpath will get the correct path, the one that targets the deployed dir.

[2018-03-03 03:26] adriens opened #170 "Add hash of the zip distribution file"
# Environment

N/A

# Issue

Add binary hash file (md5, SHA512)

[2018-03-03 03:51] adriens commented on #170
For the current version, what would be perfect would to get the following file as part of the release :

`schemacrawler-14.19.01-distribution.zip.SHA512`

with the following content :

`3AF5FA852F712CCFD24D4A5799C14D5ADD4574F0D871D6C50086F554FECC7901338E83308B45591AFCCE2AC747AB7E3C660366A68BF35C0F3D3F87F7ACC68F7F`

[2018-03-03 03:52] adriens commented on #170
This issue is in a way linked to #168

I can't tell you exactly why but i'm preparing you a little surprise 😸

[2018-03-03 03:59] adriens commented on #168
To make short, as soon as `schemacrawler.cmd` will be in the `PATH `, it will run on any directory.

[2018-03-03 06:37] adriens commented on #168
In fact, it's the same trick as the shell's one 😄
[code]

[2018-03-04 05:03] sualeh commented on #170
Fixed with commit 33c59d24ad028fd244ddbd0d3ef0e07cd7a16dee

[2018-03-04 05:03] #170 closed

[2018-03-04 10:03] adriens commented on #168
@sualeh : do there is any chance to get this patch on the v14.19.02 please ?

[2018-03-04 22:33] #168 closed

[2018-03-04 22:33] sualeh commented on #163
Fixed in 14.20.01

[2018-03-04 22:33] #163 closed

[2018-03-04 22:51] adriens commented on #168
Great, thanks a lot !

[2018-03-05 13:21] scadgek opened #171 "Columns not retrieved from HR database"
# Environment
- Schemacrawler version 14.19.0.1
- Java version 8
- OS Linux Mint 18.3
- Database: Oracle 12.2.0.1
- JDBC Driver: ojdbc8

# Issue
Steps to reproduce:
1. Import sample HR schema
2. Run inspection with `retrieveTableColumns = true`

As a result, the tables are inspected, but they lack columns completely.

The reason I found is in the scripts from `oracle.information_schema` folder: th

[2018-03-06 02:00] #171 closed

[2018-03-06 02:01] sualeh opened #172 "Upgrade templating to support Velocity 2.0"
Upgrade templating to support Velocity 2.0

[2018-03-06 02:08] adriens commented on #172
Some details about this version :

- Announcement : http://velocity.apache.org/news.html
- Changes : http://velocity.apache.org/engine/2.0/changes.html

[2018-03-06 02:09] adriens commented on #171
AH AH, fun fix :smile:

[2018-03-07 02:37] #172 closed

[2018-03-08 01:29] sualeh commented on #166
I tested some code for you. Please take a look at:
https://gist.github.com/sualeh/7442627498eae3b9cfda0f3a63bdc59b

[2018-03-08 01:29] #166 closed

[2018-03-08 08:10] mauringhio commented on #166
Thanks for your reply! I'll try your code soon.

[2018-04-03 09:31] Spamme1 opened #176 "Issue with a dash (-) in the database name: No matching schemas found"
# Environment

SchemaCrawler 14.20.03
Java 8 Update 161
Windows 8.1
SQL Server 2016
mssql-jdbc-6.2.2.jre8.jar

# Issue

I have an automatically generated database from Jenkins with the name of the branch in the code repository. Now we have a new branch with a dash in the name (app-cfg) and the generated database name is obviously app-cfg. The executed command by Jenkins is
[code]
Removing the dash

[2018-04-03 23:39] sualeh commented on #176
What is the actual name of your database?

[2018-04-05 02:48] sualeh commented on #176
Please try `-schemas=\"?app-cfg\"?.dbo` and let me know. Of course, your Jenkins process would have to substitute the actual database name instead of `app-cfg`.

[2018-04-06 07:26] Spamme1 commented on #176
We replace the dash (-) with an underscore (_) when we create the database, so we have solved the problem in another way. Anyway thanks for the reply, but I haven't tested it, but from my knowledge about regular expressions, I don't understand why you try to escape the double quotes, they haven't any special meaning in regular expression, therefore it should be ```"?app-cfg"?\.dbo```, because actu

[2018-04-06 12:43] sualeh commented on #176
I am glad you found a workaround. Thanks for using SchemaCrawler.

[2018-04-06 12:43] #176 closed

[2018-04-18 10:14] rhymoid opened #178 "SchemaCrawler issues broken JSON when only one 'table' is eligible for printing"
# Environment

Issue encountered with:

* SchemaCrawler v16.14.04
* Oracle JDK 1.8.0.141
* (OS type and version irrelevant)
* Microsoft SQL Server (version irrelevant)
* `com.microsoft.sqlserver.jdbc.SQLServerDriver` (6.4.0.jre8)

Issue reproduced with:

* SchemaCrawler master
* OpenJDK 8u162
* Debian 9.4 ("stretch")
* PostgreSQL 9.6
* `org.postgresql.Driver` (9.4)

# Issue

When SchemaCrawler out

[2018-04-18 10:33] rhymoid commented on #178
Oh, also note how the `"tables"` field now contains an object instead of an array.

[2018-04-19 22:57] #178 closed

[2018-04-20 11:31] sualeh commented on #178
Please use the latest version of SchemaCrawler - v14.20.05

[2018-04-20 17:13] philCryoport opened #179 "SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder"."
# Environment

Specify the
* version of SchemaCrawler that you are using
schemacrawler-14.20.04-distribution

* version of Java that you are using
java version "1.8.0_161"
Java(TM) SE Runtime Environment (build 1.8.0_161-b12)
Java HotSpot(TM) 64-Bit Server VM (build 25.161-b12, mixed mode)

* operating system and version that you are using
Windows 10 Version 1709 (OS Build 16299.371) 64-bit

* rel

[2018-04-20 17:32] philCryoport commented on #179
A note on "dot" not being found:

[code]

I checked and the GraphViz\bin directory was not on the path.  So I added it, confirmed it was working:
[code]

and ran schemacrawler.cmd again.  It still cannot find `dot`.  Help?

[2018-04-21 21:44] sualeh commented on #179
The SLF4J warning is spurious, and not related to dot not being found. Did you open a new ConEmu window after adding the Graphviz bin directory to the path? If this is still not working, you can try the following workaround:
1. Run SchemaCrawler manually, using something like
[code]
2. Run Grahviz manually, using a command-line like
[code]

[2018-04-22 13:04] csanyipal opened #180 "BUILD FAILURE"
# Environment

svn co https://github.com/schemacrawler/SchemaCrawler.git

java version "1.8.0_162"
 Oracle JDK 1.8.0.162

Gentoo Linux

SQLite
sqlite3 -version
3.22.0 2018-01-22 18:45:57 0c55d179733b46d8d0ba4d88e01a25e10677046ee3da1d5b1581e86726f2alt1

sqlite-jdbc-3.21.0.jar
# Issue

'mvn package' command failed.

1. svn co https://github.com/schemacrawler/SchemaCrawler.git
2. cd SchemaCrawler.git

[2018-04-23 17:10] sualeh commented on #180
Pál, please make sure that you have installed [Graphviz](http://www.graphviz.org/), and put it on your `PATH`. Please follow instructions on [Using SchemaCrawler in Projects and Building SchemaCrawler](http://www.schemacrawler.com/building.html).

[2018-04-23 20:04] csanyipal commented on #180
Sualeh,
I have now the runnuble SchemaCrawler here.
Thank you very much!

[2018-04-24 01:04] #180 closed

[2018-04-24 01:33] sualeh commented on #179
Phil, did that work for you?

[2018-04-24 20:44] philCryoport commented on #179
Hi @sualeh ,

I actually like your suggestion of `outputformat=scdot` and then using `dot` to convert to PDF 😀

That works like a champ!  Thanks.

[2018-04-24 21:39] philCryoport opened #181 "Feature request: allow for addition / override of dot attributes"
# Environment
*    version of SchemaCrawler that you are using
    schemacrawler-14.20.04-distribution

*    version of Java that you are using
    java version "1.8.0_161"
    Java(TM) SE Runtime Environment (build 1.8.0_161-b12)
    Java HotSpot(TM) 64-Bit Server VM (build 25.161-b12, mixed mode)

*    operating system and version that you are using
    Windows 10 Version 1709 (OS Build 16299.37

[2018-04-24 21:48] sualeh commented on #181
Good idea. I will look at a way to do this.

[2018-04-24 21:50] sualeh commented on #179
I am glad you have a workaround, and thanks for closing the issue. However, I am curious if you ever got SchemaCrawler to call `dot`. I am unable to reproduce the issue.

[2018-04-24 22:10] philCryoport commented on #179
Ran ...`-outputformat=png -outputfile=graph.png -Gdpi=300 -loglevel=WARNING`.  Didn't get an error about not able to find `dot`.  Instead `graph.png` ended up being 0KB and the following error appeared at the end (note `WARNING:` has nothing after it):

[code]

[2018-04-24 23:30] philCryoport commented on #179
Ran ...`-outputformat=png -outputfile=graph.png -Gdpi=300 -loglevel=WARNING`.  Didn't get an error about not able to find `dot`.  Instead `graph.png` ended up being 0KB and the following error appeared at the end (note `WARNING:` has nothing after it):

[code]

[2018-04-26 01:08] #179 closed

[2018-04-30 22:45] AlecStrong opened #182 "Publish schemacrawler-diff artifact"
Hello! Thank you for the excellent library. I was wondering if the schemacrawler-diff artifact could be publish to maven in addition to all the current artifacts - right now I'm just copying the `SchemaCrawlerDifferBuilder` into my own codebase. I noticed the pom has a publish plugin ready to go so it might already be uploading to maven?

[2018-05-01 00:48] sualeh commented on #182
Alec, the code in `schemacrawler-diff` is experimental, and not of the same quality (in my opinion) as the rest of SchemaCrawler. It is provided for illustrative purposes only, and not really maintained. Please copy and modify the code to your liking, like you have done.

[2018-05-01 00:48] #182 closed

[2018-05-01 02:12] AlecStrong commented on #182
yup makes sense! Thanks again for the lib

[2018-05-01 14:49] yissachar opened #183 "Primary keys not styled differently"
When I generate a diagram there is no indication as to which fields are the primary keys for the tables. As far as I can tell from the examples this should be indicated by the field being bold and italicized but that isn't happening for me.

Here is the command I am using:

[code]

I'm running this on a Postgres 9.6 database and using version 14.20.05 of SchemaCrawler.

[2018-05-01 18:09] philCryoport commented on #181
Hi there!  I see you implemented code and code-tests for this feature.  Thank you.

When you have a moment -- and if you haven't already -- would you please update the documentation so I can have example commands to model?

Thanks.

[2018-05-02 01:51] sualeh commented on #183
Please zip and attach the SchemaCrawler debug logs, which can be obtained by running SchemaCrawler with an additional `-loglevel=ALL` command-line argument.

[2018-05-02 02:47] sualeh commented on #181
Phil, I am trying to get you a release as soon as possible. :smile:

[2018-05-02 15:38] philCryoport commented on #181
Sorry, don't mean to rush you 8)  I saw the commit and wanted to help...

[2018-05-03 02:05] sualeh commented on #181
Please use the [latest release, v14.20.06](https://github.com/schemacrawler/SchemaCrawler/releases). You can find documentation [on the SchemaCrawler diagramming page](https://www.schemacrawler.com/diagramming.html).

[2018-05-03 02:05] #181 closed

[2018-05-03 15:29] yissachar commented on #183
Here is an image of the problem:
![database-diagram2](https://user-images.githubusercontent.com/2190867/39586445-0f4de60a-4ec5-11e8-9118-946940c230ce.png)

And the logs: [logs.txt.zip](https://github.com/schemacrawler/SchemaCrawler/files/1971562/logs.txt.zip)

[2018-05-03 17:28] blackdrago opened #184 "Error: Exception retrieving table information: Cannot use null results"
# Environment

--

# Issue
In my current setup, Schemacrawler can successfully perform a number of actions, including listing tables and views from all schemas (or a select schema). So I know that it's connecting to the database and able to gather information about schemas and tables without issue. However, I get the following error whenever I set the infolevel parameter to anything above 'minimum

[2018-05-04 00:58] sualeh commented on #184
SchemaCrawler support was built for Oracle 12g. A couple of people have reported trying to use Oracle 11g. I will look at Oracle 12g adoption statistics, and see if it it is better to roll back support for Oracle 12g.

[2018-05-04 01:41] sualeh commented on #183
Please run the following SQL statement, and let me know what it returns. If your schema is not called `public`, please change the name of the schema it returns.

[code]

[2018-05-04 01:47] sualeh commented on #183
Or, you could search for your primary key in this:

[code]

[2018-05-04 01:49] sualeh commented on #181
@philCryoport - did this work for you?

[2018-05-04 19:13] philCryoport commented on #181
With schemacrawler-14.20.06-distribution on Windows 10, adding the following two lines to `schemacrawler.config.properties`:

[code]

Works great with:
* `-outputformat=scdot` or `-outputformat=dot`, and
* `dot -T pdf graph.dot -O`

PDF has no errors and at initial glance does seem complete.

Now, if I then add the following in addition to `schemacrawler.config.properties`:

[code]

...I get the f

[2018-05-04 20:48] sualeh commented on #181
Thanks for testing. The problem you describe is a Graphviz or Adobe Acrobat issue, and outside of SchemaCrawler. I would suggest trying opening the PDF file in [Foxit PDF Reader](https://www.foxitsoftware.com/pdf-reader/) to see if you get better results.

[2018-05-04 21:06] philCryoport commented on #181
Indeed it does open without complaint or any at-first-glance visual problems in Foxit Reader :)

Thank you for adding the feature!

[2018-05-05 01:59] sualeh commented on #181
Glad it worked for you.

[2018-05-06 20:45] sualeh commented on #183
@yissachar - did you check your database for primary keys using the SQL I gave you?

[2018-05-07 18:06] yissachar commented on #183
Hi @sualeh, sorry for the delay.

This is the result I got from your first query:

[code]

[2018-05-08 03:46] sualeh commented on #183
Let me try to reproduce. It seems like there is a [known bug with the Postgres JDBC driver](https://www.postgresql.org/message-id/200707231358.l6NDwlWh026230@wwwmaster.postgresql.org) which has still not been fixed. SchemaCrawler may need to work around that.

Meanwhile, please send me the results of:

[code]

[2018-05-08 11:09] sualeh commented on #183
I cannot reproduce your issue. Please send me your `CREATE TABLE` statement.

[2018-05-08 15:46] yissachar commented on #183
Constraints:
[code]

Create table statement:
[code]

[2018-05-09 01:11] sualeh commented on #183
I cannot reproduce it. I will put in some more logging into the next version, so you can see what is going on.

I am using:
- SchemaCrawler 14.21.01
- PostgreSQL JDBC Driver 42.2.2
- PostgreSQL 9.6.6

![database-diagram2](https://user-images.githubusercontent.com/36505153/39790179-7aebbc34-5302-11e8-91ea-52767271ebf5.png)

[2018-05-09 01:48] sualeh commented on #183
PS: I also tried with PostgreSQL 9.4.7, and could not reproduce. (You are using PostgreSQL 9.4.4) Please use the next SchemaCrawler version, where I will put in some more logging.

[2018-05-09 02:16] #183 closed

[2018-05-09 16:10] blackdrago commented on #184
Is this something I can remedy by rolling back to an earlier version of SchemaCrawler? Or is Oracle 12c (and up) only supported? I've used SchemaCrawler before with MySQL and loved the capabilities and results, which is why it was my first choice when working with Oracle, too. But I understand if the database version isn't supported.

[2018-05-11 12:49] sualeh commented on #184
Kylie, thank you for using SchemaCrawler! I have recently had a few people ask about Oracle 11g support, and I will modify SchemaCrawler to support both Oracle 11g and Oracle 12c. Meanwhile, you have a couple of options:
1. Use an older version of SchemaCrawler. You can try with [SchemaCrawler 14.17.05](https://github.com/schemacrawler/SchemaCrawler/releases/tag/v14.17.05).
2. Or, you can remove t

[2018-05-11 16:02] yissachar commented on #183
I wonder if it is an OS issue? I am on Mac, but a coworker on Windows was not able to reproduce. I will try with the next version, and also try to upgrade my DB to 9.6 which is what I was supposed to be using.

[2018-05-11 16:32] sualeh commented on #183
That could well be the case. It may be that Graphviz works differently on a Mac.

[2018-05-12 17:39] #184 closed

[2018-05-17 23:42] sualeh commented on #153
The next version of SchemaCrawler will have support for TIMESTAMP_WITH_TIMEZONE and TIME_WITH_TIMEZONE.

[2018-05-18 13:07] ThisGuenter opened #185 "Wrong "unique index with nullable columns" in 14.21.01 ?"
# Environment
SchemaCrawler 14.21.01
Java 1.8.0_144
Windows 7
ORACLE 11.2.0.3 EE
ojdbc-11.2.0.3.0

# Issue
Wrong "unique index with nullable columns" linter warnings after upgrading from SchemaCrawler 14.17.05 to 14.21.01.
This occurs for tables with function-based unique index e.g:
CREATE UNIQUE INDEX index1 ON
  table1 (
    CASE
      column1
      WHEN 1 THEN column1
      ELSE NULL
    END

[2018-05-19 21:05] sualeh commented on #184
Did it work for you, Kylie @blackdrago?

[2018-05-20 00:51] sualeh commented on #165
I have added a unit test to confirm that these values can be overridden in the config file, and also updated the default config files with examples.

[2018-05-20 00:51] #165 closed

[2018-05-22 02:56] sualeh commented on #185
Please use SchemaCrawler 14.21.02

[2018-05-22 02:58] sualeh commented on #153
Please use SchemaCrawler 14.21.02

[2018-05-22 08:39] jewway opened #186 "Apache Impala support ?"
# Environment
SchemaCrawler 14.21.01
Java 1.8.0_144
Windows 7
ClouderaImpalaJDBC41-2.6.2.1003

# Issue
Have any way to customize retrieve logic for table and column information ?

[code]

[Impala SQL Statements](https://www.cloudera.com/documentation/enterprise/5-8-x/topics/impala_show.html)

[2018-05-22 13:31] eyalroz opened #187 "MonetDB support"
[MonetDB](http://www.monetdb.org/) is one of the leading FOSS analytics-oriented DBMSes, and quite popular in academia. It also has a [JDBC driver](https://www.monetdb.org/Documentation/Manuals/SQLreference/Programming/JDBC).

So, please add support for it!

[2018-05-22 22:57] blackdrago commented on #184
@sualeh Yes, it did! Thank you! :)

[2018-05-29 02:17] #187 closed

[2018-05-29 02:19] schemacrawler commented on #187
SchemaCrawler supports MonetDB out of the box. I have enforced this by means of a new unit test. Please drop the MonetDB JDBC driver jar file into the SchemaCrawler `lib/` folder.

[2018-05-29 04:19] adriens commented on #187
@eyalroz : can you just confirm me that you are using the following jdbc driver ?

[code]

[2018-05-29 04:54] jewway commented on #186
Hi @adriens , you can't find the driver in public , i downloaded it from [cloudera](https://www.cloudera.com/downloads/connectors/impala/jdbc/2-6-3.html).

[2018-05-29 07:46] eyalroz commented on #187
Actually, I'm not using SchemaCrawler, at the moment at all, I was just considering it; and I don't actually do any Java work these days, so - I can't confirm... sorry :-(

[2018-05-29 21:31] adriens commented on #187
Ok @eyalroz , once you know, can you please let me know so i add the driver to the debian package install ?

[2018-06-08 15:18] magoralczyk opened #188 "I am only getting the standard schemas from MS SQL Server"
# Environment

I am using only the libs/tools from the downloaded package 14.21.02

# Issue

I am testing the api from java code (using the provided ApiExample.java, but commented out all the options settings to disable any filtering) an the connection to the server works fine.
The user is sysadmin on the server but I only get the standard Microsoft provided schemas (db_*, dbo, guest, INFORMATION_

[2018-06-08 22:07] sualeh commented on #188
@magoralczyk

1. I am not sure why the Microsoft JDBC driver returns you only the standard Microsoft schemas. Please turn on SchemaCrawler logging to see if your schemas are being returned. If they are not being returned, please open an issue on [Microsoft/mssql-jdbc](https://github.com/Microsoft/mssql-jdbc). Otherwise, please attach the SchemaCrawler logs to this issue.
2. The `database` on the c

[2018-06-12 22:22] sualeh commented on #188
Were you able to resolve the issue?

[2018-06-14 12:02] magoralczyk commented on #188
Well, I was not able, because I am out of strategies. I had the logging activated, and no other than std schemas came back. I saw a youtube video, where schemacrawler is used to crawl the std Microsoft AdventureWorks Database, which was located in a userspecific schema and it worked, so on the one hand I am nearly 100% sure, that I am using it wrong, but I have no Idea what to change, since I have

[2018-06-14 15:32] sualeh commented on #188
@magoralczyk - thanks for the research. If Microsoft SQL Server and the Microsoft JDBC driver do not report your schemas, SchemaCrawler will not be able to process them. Please open an issue at mssql-jdbc.

[2018-06-14 15:32] #188 closed

[2018-06-28 21:24] mysqldesu opened #189 "In MySQL - not getting table comments, engine, charset, collation from crawler output"
When outputting all the meta data from a MySQL schema, I am not getting data related to table comments, columns comments, table engine, table charset, column charset and column comments. I want to perform diffs including those items. Is there a way to get that information also? Much of this data is available from "show create table tablename".

This is the command I'm running:

 schemacrawler -hos

[2018-07-03 23:53] sualeh commented on #189
I have fixed the issue with table and column comments, and it will be available in the next release of SchemaCrawler. For the rest of the information, you can use a user-defined query. You can define the query in the SchemaCrawler config file, and use the query name as a command. Or, you can use the query itself as a command, like this:

`-command="SELECT TABLE_CATALOG, TABLE_SCHEMA, TABLE_NAME, E

[2018-07-03 23:53] #189 closed

[2018-07-05 15:50] mysqldesu commented on #189
Thanks for working on this and the idea to use a command line query to get the other items! Really appreciate it.

[2018-07-16 12:24] abstratt opened #191 "Error during serialize: Comparison method violates its general contract!"
# Environment
SchemaCrawler: 14.21.02
Java: 1.8.0_131
Linux Ubuntu 16.04.3 LTS
Postgresql: 9.6.2

# Issue

Running a "serialize" command fails with an exception:

[code]

### Steps

[code]

### Result

[code]

Full log will be attached.

[2018-07-16 14:50] selliera opened #192 "Schemacrawler graphviz-java usage fails when v8 is not available"
# Environment

# Issue
When using graphviz-java to generate a png, the tool fails with `java.lang.NoClassDefFoundError: com/eclipsesource/v8/V8RuntimeException` when v8 is not available in the runtime, even if graphviz-java has a Jdk engine.

When initializing the GraphvizEngines, it would be nice to ensure they can be loaded.
The following patch does that, but it would most certainly be better to

[2018-07-16 15:43] sualeh commented on #192
Thanks. In the next version of SchemaCrawler, I am looking at refactoring the code so that I can check the availability before the schema is retrieved, so failure can occur early. Let me work out the best way to incorporate this fix.

[2018-07-16 17:55] abstratt commented on #191
I can no longer reproduce the issue, so it looks like an intermittent problem. I wonder if the fact that the comparison method is based on hash codes (which may lead to non-deterministic behavior) is what makes it intermittent.

[2018-07-16 23:57] sualeh commented on #191
I will take a look.

[2018-07-19 13:20] selliera commented on #192
Ok course ! Thanks !

[2018-07-21 19:41] mambax7 commented on #112
same issue here with version 14.21.02 on Windows 10
I'm using exactly the same command as in the diagram example, except I replaced pdf with png, but pdf was the same:

It outputs only list of tables and not a graph:
![image](https://user-images.githubusercontent.com/613686/43039494-6c00db1c-8cfc-11e8-996a-839974d72965.png)

[2018-07-21 19:57] sualeh commented on #112
Please attach the logs, @mambax7 - you can get them with -loglevel=ALL

[2018-07-21 20:18] mambax7 commented on #112
attached:
[log.zip](https://github.com/schemacrawler/SchemaCrawler/files/2216462/log.zip)

[2018-07-22 06:40] sualeh commented on #112
@mambax7 - please run the following query on your database, and see if it returns any data

[code]

[2018-07-22 09:55] mambax7 commented on #112
no, it doesn't.
I thought, it will try to guess potential foreign keys.

[2018-07-22 10:41] mambax7 commented on #112
OK, I've installed the SakilaDB, and the PDF is working now (using Foxit reader).
But the PNG  created a file with 0 size.  SVG created a file, but when I tried to see it in the browser, it was empty.

However, the issue is that SchemaCrawler printed in the PDF "all" databases present server, even if I specifically set only the Sakila DB.
This has caused issues on my other server, when one of the

[2018-07-27 03:02] #192 closed

[2018-08-09 15:08] selvanponraj opened #193 "Oracle Issue - No tables info fetched from DB"
# Environment

14.20.04

1.8.0_151-b12

Linux

Oracle Oracle8i Enterprise Edition Release 8.1.7.4.0

ojdbc6.jar and ojdbc14.jar(kept both in lib directory to get the connection). using only ojdbc6.jar i am getting this error

**Without ojdbc14.jar**

Aug 09, 2018 2:57:07 PM us.fatehi.commandlineparser.CommandLineUtility logFullStackTrace
SEVERE: 4
java.lang.ArrayIndexOutOfBoundsException: 4

[2018-08-09 23:16] sualeh commented on #193
@selvanponraj the SchemaCrawler plugin for Oracle does not support Oracle 8. To avoid getting this error, go into the SchemaCrawler `lib/` folder, and delete or move out a file called `schemacrawler-oracle-14.21.04.jar`. (Do not rename the file.)

[2018-08-09 23:16] #193 closed

[2018-08-13 08:16] ThisGuenter commented on #185
Sorry for late answer - still getting the linter message on these type of indexes. Possible to add a exclusion(but only at table-level), but i would prefer to exclude function-based indexes from this linter.

[2018-08-13 12:27] sualeh commented on #185
@ThisGuenter - I will take a look.

[2018-08-13 20:51] jseaman-idata opened #194 "SQL Server foreign key gathering errors using API."
This is with SchemaCrawler 14.21.02
Using Java JDK 1.8
Windows Server 2012
Scanning a SQL Server DB of version: 13.0.4210
Using the latest SQL Server JDBC Driver

I'm using the API rather than the command line. It works against another SQL Server database (version 12.0.4422.0), Oracle, and mySQL just fine.

Here is the error:
Cannot insert the value NULL into column 'name', table 'tempdb.dbo.#fore

[2018-08-13 23:53] sualeh commented on #194
SchemaCrawler is read-only, and does not do inserts. You will need to look elsewhere for your answer.

[2018-08-13 23:53] #194 closed

[2018-08-14 01:15] sualeh commented on #185
@ThisGuenter - I used your SQL, but cannot reproduce. Please could you send me complete logs. This is my entire schema:

[code]

[2018-08-14 02:01] sualeh commented on #191
Closing. I cannot reproduce the issue.

[2018-08-14 02:01] #191 closed

[2018-08-14 08:30] ThisGuenter commented on #185
Seems the problem occurs only with ORACLE DB 11g - when i test against ORACLE DB 12c the issue can not be reproduced

[2018-08-14 22:46] sualeh commented on #185
I tested with Oracle 11.2.0.2.0. What version are you using?

[code]

[code]

[2018-08-26 04:31] acurrysauce opened #195 "Relations not detected due to case inconsistencies in DDL"
# Environment
14.21.01/windows 7/sqlite

# Issue
Lets say a field name is FOOBAR in the table, but in the foreign key component of the ddl we call it fooBar - then schemacrawler will not detect or include this relationship in the erd output. I believe the same goes for primary keys. Note that sqlite will not care about the case insensitivity - and so the foreign key and primary key constraints wil

[2018-08-26 14:33] sualeh commented on #195
@acurrysauce thanks for reporting this issue. SchemaCrawler relies on the underlying database driver to provide information about foriegn keys. If the SQLite JDBC driver does not return foreign key information, SchemaCrawler cannot display it. Please file a bug with the [sqlite-jdbc](https://github.com/xerial/sqlite-jdbc) project.

[2018-08-26 14:33] #195 closed

[2018-08-30 02:30] sualeh commented on #185
@ThisGuenter - were you able to get detailed logs? Please use an additional `-loglevel=ALL` command-line switch.

[2018-09-05 04:09] zhanghuidouble commented on #194
@jseaman-idata
the error occurs because of  SchemaCrawler loading all schemas of the database，contains system db。you can exclude the systemdb，then the error does not exist。just try:
final SchemaCrawlerOptions options = new SchemaCrawlerOptions();
        options.setSchemaInfoLevel(SchemaInfoLevelBuilder.standard());
        options.setRoutineInclusionRule(new ExcludeAll());
        options.setSche

[2018-09-06 02:01] zhanghuidouble commented on #194
Thre above method can avoid the error,but the reason is sqlser driver bugs. SchemaCrawler 14.21.02 will download mssql-jdbc 6.4.0 ,but the version of sqlserver has the bugs.see
  https://github.com/Microsoft/mssql-jdbc/issues/681
 After upgrade the version of mssql-jdbc to 7.0.0,has no error.

[2018-09-06 02:06] sualeh commented on #194
@zhanghuidouble  - thanks for the information! The next version of SchemaCrawler will have the latest version of the Microsoft JDBC driver bundled in.

[2018-09-06 02:09] zhanghuidouble commented on #194
That's great. We now exclude the version of jar from itself. Look forward to the update !  @sualeh

[2018-09-11 15:02] ThisGuenter opened #196 "New linter "no non-nullable data columns" in v15.01.01 ?"
Can't find it in the documentation - what id to use in schemacrawler-linter-configs ?

[2018-09-14 07:51] ThisGuenter commented on #196
Problem is not specific to version 15.01.01

Table definition:
CREATE TABLE TABLE_IOT
  (
    ID NUMBER (19) NOT NULL ,
    CONSTRAINT TABLE_IOT_PK PRIMARY KEY ( ID )
  )
  ORGANIZATION INDEX NOLOGGING ;

In the log i found following entry:
Sep 13, 2018 2:01:28 PM schemacrawler.tools.lint.BaseLinter lint
FEIN: Including <user.table_iot.id> since it matches /.*/
Sep 13, 2018 2:01:28 PM schemacrawle

[2018-09-14 10:56] sualeh commented on #196
I will takw a look.

[2018-09-15 18:47] sualeh commented on #196
@ThisGuenter  - please take a look at [schemacrawler-linter-configs.xml](https://github.com/schemacrawler/SchemaCrawler/blob/master/schemacrawler-docs/config/schemacrawler-linter-configs.xml#L45-L47). This linter looks for tables that may not store any meaningful data. The documentation is on the [lint](https://www.schemacrawler.com/lint.html) webpage on the SchemaCrawler website.

[2018-09-17 07:33] adriens opened #197 "Linting on 15.01.01 > Interfaces have changed for plugins since 14.17.03"
# Context

We plan to upgrade the latest debian package, including additional lints? Still the 15.x has seen a lot of code refactoring causing compile failure. Any guidelines would be greatly apprciated.

# Environment

# Issue

We are trying to upgrade additional-lints (see https://github.com/mbarre/schemacrawler-additional-lints/issues/131) but some interfaces and methods have changed a lot, cau

[2018-09-17 07:46] adriens opened #198 "Plugin on 15.01.01 > unable to compile existing plugins"
Hi, while trying to upgrade an existing plugin to the 15.*, I have a lot of exceptions complaining about interfaces changes methods to be overriden....

Can you please confirm me that the archetypes are up to date ? This would be easier to me to figure out what i should change in my code.

Thank you in advance for your help, I have a very fun idea to develop and I need to upgrade my plugin first.

[2018-09-17 08:06] ThisGuenter commented on #196
Thanks Sualeh, the linter with id "schemacrawler.tools.linter.LinterTableAllNullableColumns" is responsible for the message "no non-nullable data columns" - It would be great if the id would also would be reported in the output. For me "AllNullableColumns" does not fit to my table definition (single column NOT NULL)

[2018-09-17 09:42] adriens commented on #198
About the fun idea that will be followed by a dedicated article : https://www.linkedin.com/feed/update/urn:li:activity:6447386387846037504

I won't tell you more about it... I just can tell you that @michele is aware of the new idea. I'm very excited to start implementing it !!!

[2018-09-18 00:55] sualeh commented on #197
For `SchemaCrawlerOptions` see [ApiExample.java](https://github.com/schemacrawler/SchemaCrawler/blob/master/schemacrawler-examplecode/src/main/java/ApiExample.java#L37-L44)

[2018-09-18 00:59] sualeh commented on #197
For `schemacrawler.​schema.​JavaSqlType`, use something like:

[code]

[2018-09-18 00:59] #197 closed

[2018-09-18 01:08] sualeh commented on #197
The reason that `schemacrawler.​schema.​JavaSqlType` has lost its `getJavaSqlType()` method is that Java 8 has made the `java.sql.Types` type number vendor specific. Java 8 adds `java.sql.SQLType` with a `getVendorTypeNumber()`, and the JDBC implementation _is just one_ of the possible implementations. The default implementation is `java.sql.JDBCType`, which wraps the `java.sql.Types` type number

[2018-09-18 02:31] adriens commented on #197
WOW, I did not pay attention to this...this is not a little change for this part of the code. It means we depend on jdbc drivers implementation/database vendor...in a way, ...it sucks :smile:

[2018-09-18 02:37] adriens commented on #197
We have to :thinking: about it on our side...

[2018-09-18 11:00] sualeh commented on #198
Still trying to deploy to Nexus...

[2018-09-19 08:52] adriens commented on #198
I've switched all to jitpack...it's just a breeze...

[2018-09-19 08:53] adriens commented on #198
Maybe could you give a try to Jfrog, should be also pretty cool and easy.

[2018-09-19 11:25] adriens opened #199 "Feature Request > add outputOptions.setOutputFile(File)"
Hi, while running some test on Windows, I'm facing native runtime issues on the jvm.

Could you consider to add to

`outputOptions.setOutputFile(Path)`

ths one :

`outputOptions.setOutputFile(File)` ?

[2018-09-19 11:41] adriens commented on #199
Hopefully this should make it easier to make testing easier on WIndows.

[2018-09-19 11:49] sualeh commented on #199
@adriens - I do not plan to make changes to older versions of SchemaCrawler. Can I help you workaround your issue? Please take a look at [ProjectRoot.java](https://github.com/schemacrawler/SchemaCrawler/blob/master/schemacrawler-distrib/src/test/java/schemacrawler/test/sitegen/ProjectRoot.java) and see how it is used in [SiteGraphVariationsTest.java](https://github.com/schemacrawler/SchemaCrawler/